<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Más" defaultHref="/publico/servicios" aria-label="Volver a Servicios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <ion-avatar>
      <img src="assets/images/app-light.png" alt="Logo INACAP Móvil" />
    </ion-avatar>
  </div>
  <div class="detalle">
    <h2>APP INACAP</h2>
    <p class="bold">Versión {{version}}</p>
    <p class="bold">Compilación: {{compilacion}}</p>
    <p class="bold">Ambiente: {{ambiente}}</p>
    <p>INACAP</p>
    <p>Copyright &copy; {{ano}}</p>
  </div>
  <section>
    <div class="section-content">
      <ion-list>
        <ion-item detail="false" (click)="condiciones()" class="ion-activatable">
          <ion-label>Términos y Condiciones</ion-label>
          <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
        </ion-item>
        <ion-item detail="false" (click)="politicas()" class="ion-activatable">
          <ion-label>Políticas de Privacidad</ion-label>
          <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
        </ion-item>
        <ion-item detail="false" (click)="calificar()" class="ion-activatable">
          <ion-label>Calificar INACAP Móvil</ion-label>
          <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </section>
</ion-content>