img {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ion-icon.verified {
  color: #1565c0;
  position: absolute;
  right: 8px;
  bottom: 0px;
  // right: 8px;
  // bottom: 8px;
  font-size: 32px;
}

ion-button {
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 35px;
  height: 35px;
  min-height: auto !important;
  min-height: 24px;
  --border-radius: 50%;
  border-radius: 50%;
  --padding-start: 0px;
  --padding-end: 0px;
  border: 1px solid #fff;
  --background: #000;
  --background-activated: #000;

  ion-icon {
    font-size: 20px;
    color: #fff;
  }
}
