<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Curso"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="primary-card" color="white">
    <ion-card-header>
      <ion-card-title>Descriptor</ion-card-title>
      <ion-card-subtitle *ngIf="mostrarData && descriptor">{{descriptor.descriptor.asig_tdesc}}</ion-card-subtitle>
    </ion-card-header>
    <ion-progress-bar type="indeterminate" *ngIf="mostrarCargando"></ion-progress-bar>
  </ion-card>

  <ng-container *ngIf="mostrarData && descriptor">
    <ion-accordion-group [value]="'descriptor'" (ionChange)="onChangeDescriptor($event)">
      <ion-accordion value="descriptor">
        <ion-item slot="header">
          <ion-label>Descripción</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label class="text-title text-normal" style="flex: 2">
                {{descriptor.descriptor.asig_ccod}} - {{descriptor.descriptor.asig_tdesc}}
              </ion-label>
              <ion-label class="text-title text-right text-normal">
                {{descriptor.descriptor.asig_nhoras}} horas - {{descriptor.descriptor.moda_tdesc}}
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="descriptor.descriptor.asig_tdescrip">
              <ion-label>
                <p class="text-normal">{{descriptor.descriptor.asig_tdescrip.data | stripHtml}}</p>
              </ion-label>
            </ion-item>
          </ion-list>          
          <section class="tabla">
            <div class="wrapper no-margin no-margin-bottom">
              <table>
                <thead>
                  <tr>
                    <th colspan="5">Horas presenciales: {{descriptor.descriptor.asig_nhoras_presenciales}}</th>
                    <th colspan="2">Horas online: {{descriptor.descriptor.asig_nhoras_virtuales}}</th>
                  </tr>
                  <tr>
                    <th>Hrs. Aula</th>
                    <th>Hrs. Lab.</th>
                    <th>Hrs. Taller</th>
                    <th>Hrs. Terreno</th>
                    <th>Hrs. Campo clínico </th>
                    <th>Sincrónicas</th>
                    <th>Asincrónicas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{descriptor.descriptor.asig_nhoras_aula}}</td>
                    <td>{{descriptor.descriptor.asig_nhoras_lab}}</td>
                    <td>{{descriptor.descriptor.asig_nhoras_taller}}</td>
                    <td>{{descriptor.descriptor.asig_nhoras_terreno}}</td>
                    <td>{{descriptor.descriptor.asig_nhoras_clinico}}</td>
                    <td>{{descriptor.descriptor.asig_nhoras_vir_sincrono}}</td>
                    <td>{{descriptor.descriptor.asig_nhoras_vir_asincrono}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="tabla">
            <div class="wrapper no-margin no-margin-bottom">
              <table>
                <thead>
                  <tr>
                    <th>Cualificación</th>
                    <th>Perfil ChileValora</th>
                    <th>UCL asociada(s) - Código(s)</th>
                    <th>Nivel MCTP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{descriptor.descriptor.asig_tcualificacion | stripHtml}}</td>
                    <td>{{descriptor.descriptor.asig_tperfil_chilevalora | stripHtml}}</td>
                    <td>{{descriptor.descriptor.asig_tucl | stripHtml}}</td>
                    <td>{{descriptor.descriptor.asig_cnivel_mctp}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="tabla">
            <div class="wrapper no-margin no-margin-bottom">
              <table>
                <thead>
                  <tr>
                    <th colspan="2">Clúster Competencias Transversales</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="descriptor.competencias_transversales">
                    <tr *ngFor="let item of resolverCompetencias(descriptor.competencias_transversales.competencia_transversal)">
                      <td><b>{{item.comt_tnombre}}</b></td>
                      <td>{{item.comt_tdesc.data | stripHtml}}</td>
                    </tr>
                  </ng-container>
                  <tr *ngIf="!descriptor.competencias_transversales">
                    <td colspan="2" class="text-center">Sin información</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="tabla" *ngIf="descriptor.asignatura_unidades">
            <div class="wrapper no-margin no-margin-bottom">
              <table>
                <thead>
                  <tr>
                    <th colspan="2" rowspan="2" valign="top">
                      <b>Unidades de Aprendiazaje</b>
                    </th>
                    <th colspan="7">
                      <b>Hrs. Presenciales</b>
                    </th>
                    <th colspan="2">
                      <b>Hrs. Online</b>
                    </th>
                    <th rowspan="2" valign="top">
                      <b>Hrs. Totales</b>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <b>Hrs. Aula</b>
                    </th>
                    <th>
                      <b>Hrs. Lab</b>
                    </th>
                    <th>
                      <b>Tipo Lab.</b>
                    </th>
                    <th>
                      <b>Hrs. Taller</b>
                    </th>
                    <th>
                      <b>Tipo Taller</b>
                    </th>
                    <th>
                      <b>Hrs. Terreno</b>
                    </th>
                    <th>
                      <b>Hrs. Campo clínico</b>
                    </th>
                    <th>
                      <b>Sincrónicas</b>
                    </th>
                    <th>
                      <b>Asincrónicas</b>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of descriptor.asignatura_unidades.asignatura_unidad">
                    <td>{{item.asun_norden}}</td>
                    <td>{{item.asun_tdescrip.data | stripHtml}}</td>
                    <td>{{item.asig_nhoras_aula}}</td>
                    <td>{{item.asig_nhoras_lab}}</td>
                    <td>{{item.tlab_tdesc}}</td>
                    <td>{{item.asig_nhoras_taller}}</td>
                    <td>{{item.ttal_tdesc}}</td>
                    <td>{{item.asig_nhoras_terreno}}</td>
                    <td>{{item.asig_nhoras_clinico}}</td>
                    <td>{{item.asig_nhoras_vir_sincrono}}</td>
                    <td>{{item.asig_nhoras_vir_asincrono}}</td>
                    <td>{{item.horas_totales}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="tabla">
            <div class="wrapper no-margin">
              <table>
                <thead>
                  <tr>
                    <th>Docente Elaborador</th>
                    <th>Asesor de Diseño Curricular</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{descriptor.descriptor.asig_tesp_tec | stripHtml}}</td>
                    <td>{{descriptor.descriptor.asig_tesp_ped | stripHtml}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </ion-accordion>
      <ng-container *ngIf="descriptor.asignatura_unidades">
        <ion-accordion [value]="'unidades_' + i" *ngFor="let item of descriptor.asignatura_unidades.asignatura_unidad; let i = index;">
          <ion-item slot="header">
            <ion-label>Unidad de Aprendizaje {{resolverNumeroRomano(item.asun_norden)}}</ion-label>
          </ion-item>
          <div slot="content">
            <ion-list>
              <ion-item>
                <ion-label class="text-title text-normal" style="flex: 2">{{item.asun_norden}} - {{item.asun_tdescrip.data | stripHtml}}</ion-label>
                <ion-label class="text-title text-right">Horas Unidad: {{item.asun_nduracion}}</ion-label>
              </ion-item>
              <ng-container *ngFor="let obj of resolverUnidades(item.unidad_objetivos.unidad_objetivo)">
                <ion-item>
                  <ion-label style="flex: 1;" class="text-title text-normal">Aprendizajes Esperados</ion-label>
                  <ion-label style="flex: 2;" class="text-normal">
                    <b style="display: inline;">{{item.asun_norden}}.{{ obj.unob_norden}} </b> - <span style="display: inline;" [innerHTML]="obj.unob_tdescrip.data"></span>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label style="flex: 1;" class="text-title text-normal">Criterios de Evaluación</ion-label>
                  <ion-label style="flex: 2;" class="text-normal">
                    <span [innerHTML]="resolverCriterios(obj.objetivo_criterios.objetivo_criterio, item.asun_norden, obj.unob_norden)"></span>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label style="flex: 1;" class="text-title text-normal">Contenidos Mínimos Obligatorios</ion-label>
                  <ion-label style="flex: 2;" class="text-normal">
                    <span [innerHTML]="resolverContenidos(obj.objetivo_contenidos.objetivo_contenido.obco_tdescrip.data)"></span>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label style="flex: 1;" class="text-title text-normal">Actividades Mínimas Obligatorias</ion-label>
                  <ion-label style="flex: 2;" class="text-normal">
                    <ng-container *ngIf="item.unidades_actividades">
                      <span [innerHTML]="resolverActividades(item.unidades_actividades.unidades_actividad)"></span>
                    </ng-container>
                  </ion-label>
                </ion-item>
              </ng-container>
            </ion-list>
          </div>
        </ion-accordion>
      </ng-container>
      <ion-accordion value="estrategias">
        <ion-item slot="header">
          <ion-label>Estrategias Metodológicas</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label>
                <p class="text-normal">Para el logro de los aprendizajes esperados de esta asignatura, se han establecido las siguientes estrategias y técnicas didácticas, acordes al enfoque orientado a competencias.</p>
              </ion-label>
            </ion-item>
          </ion-list>          
          <section class="tabla">
            <div class="wrapper no-margin">
              <table>
                <thead>
                  <tr>
                    <th>UA</th>
                    <th>Estrategia Didáctica</th>
                    <th>Complementada con la(s) Técnica(s)</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="descriptor.estrategias_metodologicas">
                    <tr *ngFor="let item of descriptor.estrategias_metodologicas.estrategia_metodologica">
                      <td>{{item.asun_norden}}</td>
                      <td>{{(item.edid_tdesc && item.edid_tdesc.data) || 'Sin dato'}}</td>
                      <td>{{(item.tdid_tdesc && item.tdid_tdesc.data) || 'Sin dato'}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </ion-accordion>
      <ion-accordion value="evaluacion">
        <ion-item slot="header">
          <ion-label>Sistema de Evaluación</ion-label>
        </ion-item>
        <div slot="content">
          <section class="tabla tabla-left" *ngIf="descriptor.descriptor.asig_tsug_eval">
            <p [innerHTML]="descriptor.descriptor.asig_tsug_eval.data | stripTable"></p>
          </section>
        </div>
      </ion-accordion>
      <ion-accordion value="bibliografia">
        <ion-item slot="header">
          <ion-label>Bibliografía de la Asignatura</ion-label>
        </ion-item>
        <div slot="content">
          <section class="tabla">
            <div class="wrapper no-margin">
              <table>
                <thead>
                  <tr>
                    <th colspan="8">BIBLIOGRAFÍA BÁSICA</th>
                  </tr>
                  <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Año</th>
                    <th>ISBN/ISSN</th>
                    <th>Editorial</th>
                    <th>Fuente</th>
                    <th>Recurso Digital</th>
                    <th>Tipo de Material</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of bibliografia('1')">
                    <td>
                      <a *ngIf="item.bibl_turl_enlace" (click)="abrirEnlace(item.bibl_turl_enlace, $event)">{{item.bibl_ttitulo}}</a>
                      <span *ngIf="!item.bibl_turl_enlace">{{item.bibl_ttitulo}}</span>
                    </td>
                    <td>{{item.bibl_tautor}}</td>
                    <td>{{item.bibl_nano}}</td>
                    <td>{{item.bibl_isbn}}</td>
                    <td>{{item.bibl_teditorial}}</td>
                    <td>{{item.bibl_tfuente}}</td>
                    <td>{{item.bibl_trecurso_digital}}</td>
                    <td>{{item.tipo_material}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="wrapper no-margin">
              <table>
                <thead>
                  <tr>
                    <th colspan="8">BIBLIOGRAFÍA SUGERIDA</th>
                  </tr>
                  <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Año</th>
                    <th>ISBN/ISSN</th>
                    <th>Editorial</th>
                    <th>Fuente</th>
                    <th>Recurso Digital</th>
                    <th>Tipo de Material</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of bibliografia('2')">
                    <td>{{item.bibl_ttitulo}}</td>
                    <td>{{item.bibl_tautor}}</td>
                    <td>{{item.bibl_nano}}</td>
                    <td>{{item.bibl_isbn}}</td>
                    <td>{{item.bibl_teditorial}}</td>
                    <td>{{item.bibl_tfuente}}</td>
                    <td>{{item.bibl_trecurso_digital}}</td>
                    <td>{{item.tipo_material}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </ion-accordion>
      <ion-accordion value="perfil_docente">
        <ion-item slot="header">
          <ion-label>Perfil del Docente</ion-label>
        </ion-item>
        <div slot="content">
          <section class="tabla">
            <div class="wrapper no-margin">
              <table>
                <thead>
                  <tr>
                    <th>Preferencia</th>
                    <th>Título Profesional</th>
                    <th>Grado Académico</th>
                    <th>Experiencia Docente</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="descriptor.asignatura_perfiles">
                    <tr *ngFor="let item of resolverPerfilDocente(descriptor.asignatura_perfiles.asignatura_perfil)">
                      <td>{{item.aspe_npreferencia}}</td>
                      <td>{{item.titulo}}</td>
                      <td>{{item.grado}}</td>
                      <td>{{item.aspe_nexpe_docente}}</td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td colspan="4">
                      <b>Observaciones - </b>
                      <span>{{descriptor.descriptor.asig_tobsperfildocente.data | stripHtml}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </ion-accordion>
      <ion-accordion value="software">
        <ion-item slot="header">
          <ion-label>Software</ion-label>
        </ion-item>
        <div slot="content">
          <section class="tabla">
            <div class="wrapper no-margin">
              <table>
                <thead>
                  <tr>
                    <th>Software</th>
                    <th>Versión</th>
                    <th>Observación</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="descriptor.asignatura_softwares">
                    <tr *ngFor="let item of resolverSoftware(descriptor.asignatura_softwares.asignatura_software)">
                      <td>{{item.software}}</td>
                      <td>{{item.version}}</td>
                      <td>{{item.asso_tobservaciones}}</td>
                    </tr>
                  </ng-container>
                  <tr *ngIf="!descriptor.asignatura_softwares">
                    <td colspan="3">Sin registros</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>

  <section *ngIf="mostrarData && !descriptor" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="info" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>

</ion-content>
