<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backText" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/task.svg" class="rounded variant-4"></ion-icon>
      <ion-label>
        <h2>Solicitudes Académicas</h2>
        <p>Busca las solicitudes que necesites para tu día a día.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="tabs">
    <ion-segment [(ngModel)]="activeTab" mode="ios" [swipeGesture]="false">
      <ion-segment-button [value]="0">
        <ion-label>Nueva Solicitud</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1">
        <ion-label>Historial</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && carreras) {

  @if (activeTab == 0) {

  <form [formGroup]="carreraForm">
    <ion-list inset="true" class="carreras-list">
      <ion-item>
        <ion-select label="Mis Carreras" labelPlacement="stacked" placeholder="Seleccione..."
          [interfaceOptions]="{ header: 'Mis Carreras' }" interface="action-sheet" formControlName="planCcod"
          cancelText="Cancelar">
          @for (item of carreras; track $index) {
          <ion-select-option [value]="item.planCcod" style="white-space: normal">
            {{item.espeTdesc}}
          </ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  @if (solicitudes && solicitudes.length > 0) {

  <ion-list inset="true" class="solicitudes-list">
    @for (item of solicitudes; track $index) {
    <ion-item detail="false" (click)="resolverSolicitud(item)" class="ion-activatable">
      <ion-label>
        <h2>{{item.tisoTdesc}}</h2>
      </ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    }
  </ion-list>

  }
  @else {

  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/note_add.svg"></ion-icon>
      <p>Sin solicitudes disponibles en este momento.</p>
    </div>
  </section>

  }

  }
  @else if (activeTab == 1) {

  @if (historial && historial.length > 0) {
  <ion-list inset="true" class="solicitudes-historial">
    @for (item of historial; track $index) {
    <ion-item-sliding>
      <ion-item (click)="detalleSolicitud(item)" detail="false" class="ion-activatable">
        <ion-label>
          <h2>{{item.tisoTdesc}}</h2>
          <p>Folio - {{item.soliNcorr}}</p>
          <p>Carrera - {{item.carrTdesc}}</p>
          <p class="estado-actividad {{resolverEstado(item)}}">{{item.esolTdesc}}</p>
        </ion-label>
        <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
      </ion-item>
      <ion-item-options side="end" *ngIf="item.tisoCcod != 35">
        <ion-item-option color="danger" (click)="anular(item.soliNcorr)"
          [disabled]="item.esolCcod != 1 && item.esolCcod != 7">
          <ion-icon src="assets/icon/delete.svg"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
  </ion-list>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/search.svg"></ion-icon>
      <p>Sin solicitudes históricas en este momento.</p>
    </div>
  </section>
  }

  }

  }

  @if (mostrarData && !carreras) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="info" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }

</ion-content>