ion-content {
    .carreras-list {
        ion-select {
            font-size: var(--FS14);
        }
    }
    .solicitudes-list {
        ion-label {
            h2 {
                font-weight: 400 !important;
            }
        }
    }
    .solicitudes-historial {
        ion-item {
            &.success {
                border-left: 4px solid var(--ion-color-success);
            }
            &.danger {
                border-left: 4px solid var(--ion-color-danger);
            }
            &.warning {
                border-left: 4px solid var(--ion-color-warning);
            }
            &.medium {
                border-left: 4px solid var(--ion-color-medium);
            }
        }
    }
}

// ion-item {
//     ion-select {
//         width: 100%;

//         &::part(text) {
//             white-space: normal;
//             font-size: var(--FS16);
//             margin-top: 8px;
//             margin-bottom: 8px;
//         }
//     }
// }


