@import "../dashboard-alumno.page.scss";

ion-card.destacado-list {
    margin: 10px 10px 5px;
    box-shadow: 0px 1px 3px #00000033 !important;

    ion-card-content {
        padding: 0;

        ion-label {
            h2 {
                font-size: var(--FS15) !important;
                font-weight: 400 !important;
                white-space: normal !important;
            }
            p {
                font-size: var(--FS14) !important;
            }
        }

        ion-icon {
            //color: var(--ion-color-medium);
            margin-right: 0;
            font-size: 18px;
            padding: 6px;

            &[name="close"] {
                margin: 0;
                font-size: 24px;
            }
        }
    }
}

section.ramos {
    overflow-x: scroll;
    padding: 10px;
    white-space: nowrap;
    margin-top: 0;

    .section-header {
        padding-left: 8px;
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    ion-card {
        display: inline-block;
        margin: 0 10px 0 0;
        width: 158px;
        height: 86px;
        white-space: normal;
        box-shadow: none;

        ion-card-header {
            padding: 8px;

            // &.green {
            //     --background: var(--ion-color-success) !important;
            // }

            ion-card-title {
                display: flex;
                align-items: center;

                i {
                    background-color: var(--ion-color-success) !important;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 6px;
                    flex: 0 0 6px;
                    margin-left: -1px;
                }

                span {
                    font-size: var(--FS14);
                    font-weight: 700;
                    color: var(--ion-text-color);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        ion-card-content {
            padding: 0 8px 8px 8px;

            ion-list {
                background: transparent;

                ion-item {
                    --min-height: 22px;
                    --background: transparent;
                    // color: #41424d;

                    ion-label {
                        white-space: normal;
                        margin: 0;
                        font-size: var(--FS14);
                        border-left: 3px solid;
                        padding-left: 5px;
                        line-height: 16px;

                        .nota-number,
                        .asistencia-number {
                            font-weight: 600;
                        }
                        .text {
                            padding-right: 8px;
                        }
                        .rojo {
                            color: var(--ion-color-danger) !important;
                        }
                    }
                }
            }
        }

        &.curso-1,
        &.curso-8 {
            background-color: var(--ion-color-1-background);

            ion-label {
                border-left-color: var(--ion-color-1-foreground) !important;
            }
        }
        &.curso-2,
        &.curso-9 {
            background-color: var(--ion-color-2-background);

            ion-label {
                border-left-color: var(--ion-color-2-foreground) !important;
            }
        }
        &.curso-3,
        &.curso-10 {
            background-color: var(--ion-color-3-background);

            ion-label {
                border-left-color: var(--ion-color-3-foreground) !important;
            }
        }
        &.curso-4,
        &.curso-11 {
            background-color: var(--ion-color-4-background);

            ion-label {
                border-left-color: var(--ion-color-4-foreground) !important;
            }
        }
        &.curso-5,
        &.curso-12 {
            background-color: var(--ion-color-5-background);

            ion-label {
                border-left-color: var(--ion-color-5-foreground) !important;
            }
        }
        &.curso-6,
        &.curso-13 {
            background-color: var(--ion-color-6-background);

            ion-label {
                border-left-color: var(--ion-color-6-foreground) !important;
            }
        }
        &.curso-7,
        &.curso-14 {
            background-color: var(--ion-color-7-background);

            ion-label {
                border-left-color: var(--ion-color-7-foreground) !important;
            }
        }
    }

    .card:first-child {
        margin-left: 0;
    }
}

section.agenda {
    // margin: 0 10px 10px;
    box-shadow: var(--ion-box-shadow);

    .section-header {
        padding-left: 20px;
    }
    .section-content {
        margin-inline: 10px;

        .fecha {
            margin: 10px 10px 0;
            background: var(--ion-color-1-background);
            border-radius: 7px;
            padding: 5px 10px;
            position: relative;

            h3 {
                margin: 0 0 3px;
                color: var(--ion-color-1-foreground);
                font-size: 12px;
            }

            h2 {
                margin: 0;
                color: var(--ion-text-color);
                font-size: 18px;
                font-weight: 500;
            }

            ion-icon {
                position: absolute;
                right: 10px;
                top: 5px;
                font-size: 20px;
                color: var(--ion-color-1-foreground);
            }
        }

        .cargando {
            text-align: center;
            padding: 15px;

            span {
                display: block;
                line-height: 32px;
                font-size: var(--FS14);
            }
        }

        ion-item {
            --padding-top: 5px;
            --padding-bottom: 5px;

            ion-label {
                margin: 10px 0;

                p.estado-actividad {
                    padding: 2px 6px;
                    margin-top: 0;
                    margin-bottom: 10px;
                    font-size: var(--FS11) !important;
                    font-weight: 700;
                }
            }
        }
    }
}

section.ramos + section.horario {
    .section-content {
        margin-top: 0;
    }
}

section.horario {
    .section-content {
        border: 1px solid var(--border-color);
        margin-top: 10px;
        margin-inline: 10px;
        margin-bottom: 0;
        // box-shadow: 0px 1px 3px #00000033 !important;
    }

    // ::ng-deep mat-tab-group > mat-tab-header {
    //     .mat-tab-label {
    //         height: 70px !important;
    //     }
    // }

    /*.dia-selector {
        height: 46px;
        background-color: var(--ion-color-light);
        border-bottom: var(--border);
        display: flex;
        padding: 13px 15px;
        box-sizing: border-box;

        .arrow {
            width: 10%;
            text-align: center;

            ion-icon {
                font-size: 19px;
                height: 19px;
                width: 19px;
            }
        }

        .nombre-dia {
            flex: 1;
            text-align: center;
            font-size: var(--FS14);

            ion-datetime {
                display: none;
            }
        }
    }*/

    .clasesList,
    .evaluacionesList {
        margin: 0;

        .text-center {
            padding: 15px;
            text-align: center;
        }
    }

    .clasesList {
        ion-item {
            ion-label {
                display: flex;
                margin-top: 4px;
                margin-bottom: 4px;

                .horario-hora {
                    flex: 0 0 35px;
                    font-size: var(--FS12);
                    text-align: right;
                    padding-right: 4px;
                    font-weight: 500;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        display: block;
                    }
                    .inicio {
                        line-height: 20px;
                    }
                    .termino {
                        color: var(--ion-color-medium);
                    }
                }

                .horario-ramo {
                    flex: 1;
                    white-space: normal;
                    margin-left: 9px;
                    padding-left: 10px;
                    border-left: var(--border);
                    position: relative;

                    h3 {
                        font-size: var(--FS14);
                        font-weight: 500;
                        line-height: 20px;
                        margin: 0;
                    }

                    p {
                        font-size: var(--FS12);
                        color: var(--ion-color-medium);
                        margin-top: 0;
                        margin-bottom: 2px;

                        &.cambio-sala {
                            display: flex;
                            align-items: center;
                            font-weight: 500;

                            ion-icon {
                                color: var(--ion-color-warning);
                                font-size: 18px;
                                margin-right: 5px;
                            }
                        }
                    }
                    p.estado {
                        margin: 0 0 5px;
                        font-style: italic;
                        font-size: var(--FS12);
                        display: block;
                        line-height: 10px;

                        i {
                            height: 6px;
                            width: 6px;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 3px;
                        }
                    }
                    &.red {
                        border-color: var(--ion-color-danger);
                        p.estado {
                            color: var(--ion-color-danger) !important;
                            i {
                                background-color: var(--ion-color-danger);
                            }
                        }
                    }
                    &.green {
                        border-color: var(--ion-color-success);
                        p.estado {
                            color: var(--ion-color-success) !important;
                            i {
                                background-color: var(--ion-color-success);
                            }
                        }
                    }
                    &.blue {
                        border-color: var(--ion-color-medium);
                        h3 {
                            color: var(--ion-color-medium) !important;
                        }
                        p.estado {
                            color: var(--ion-color-medium) !important;
                            i {
                                background-color: var(--ion-color-medium);
                            }
                        }
                    }
                }
                &.ion-text-center {
                    display: block;
                }
            }

            // &.suspendida {
            //     // --background: #fbe4e2;
            //     ion-label {
            //         > div {padding-top:10px;}
            //         .horario-ramo {border-color: var(--ion-color-danger);}
            //     }
            // }
        }
    }

    .evaluacionesList {
        ion-item {
            ion-label {
                margin-top: 4px;
                margin-bottom: 4px;
                font-size: var(--FS14);

                h2 {
                    // font-size: var(--FS14);
                    font-weight: 500;
                }
            }
        }
        [slot="start"] {
            flex: 0 0 40px;
            margin: 0 15px 0 0;
            text-align: center;
            color: var(--ion-color-medium);
            font-size: var(--FS14);

            ::ng-deep span.dia {
                display: block;
                font-size: var(--FS26);
            }
        }
        .ponderacion {
            font-size: var(--FS16);
            font-weight: 500;
            color: var(--ion-color-medium);
        }
        .more,
        .less {
            color: var(--ion-color-primary) !important;
            text-align: center;
            padding: 6px;
            font-size: var(--FS14);
        }
    }

    .mensajesList {
        p.no-read {
            position: absolute;
            height: 10px;
            width: 10px;
            background-color: #2196f3;
            border-radius: 50%;
            top: 0;
            left: 0px;
        }
        ion-label {
            --color: var(--ion-color-dark);
            margin-left: 20px;

            h2 {
                font-weight: 600;
                margin-bottom: 3px;
            }
            div {
                display: flex;
                font-size: var(--FS14);

                .subject {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 1 1 auto;
                    margin-bottom: 3px;
                }

                .date {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 0 0 100px;
                    padding-left: 16px;
                    text-align: right;
                    color: var(--ion-color-medium);
                }
            }
            .body {
                flex: 0 1 auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: var(--FS14);
                font-weight: 400;
            }
        }
    }
}

section.accesos-directos {
    margin-inline: 3px;

    ion-row {
        ion-col {
            ion-button {
                --background-focused: transparent;
                width: 100%;
                height: 112px;
                --border-radius: 8px;
                --padding-bottom: 11px;
                --padding-end: 11px;
                --padding-start: 11px;
                --padding-top: 11px;
                margin-top: 0;
                margin-bottom: 0;

                .btn-inner {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    text-align: left;
                    position: relative;
                    justify-content: space-between;

                    .rounded {
                        padding: 10px;
                        margin: 0 0 10px;
                    }

                    .launch {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 18px;
                    }

                    ion-label {
                        color: var(--ion-text-color);
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h1 {
                            font-size: 24px;
                            font-weight: 700;
                            margin: 0;
                        }
                        h2 {
                            font-size: 16px;
                            font-weight: 700;
                        }
                        p {
                            font-size: 14px;
                        }
                        i {
                            font-size: 12px;
                            font-style: normal;
                            line-height: 14px;
                            padding: 7px 3px;
                            background: #1d78bf;
                            color: #fff;
                            border-radius: 50%;
                            width: 27px;
                            height: 27px;
                            text-align: center;
                        }
                    }

                    ion-progress-bar {
                        --background: #fff;
                        height: 8px;
                    }
                }

                &.color-1,
                &.color-8,
                &.color-15 {
                    --background: var(--ion-color-1-background);
                    --background-activated: var(--ion-color-1-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-1-primary);
                        }
                        &.launch {
                            color: var(--ion-color-1-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-1-foreground);
                    }
                }
                &.color-2,
                &.color-9,
                &.color-16 {
                    --background: var(--ion-color-2-background);
                    --background-activated: var(--ion-color-2-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-2-primary);
                        }
                        &.launch {
                            color: var(--ion-color-2-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-2-foreground);
                    }
                }
                &.color-3,
                &.color-10 {
                    --background: var(--ion-color-3-background);
                    --background-activated: var(--ion-color-3-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-3-primary);
                        }
                        &.launch {
                            color: var(--ion-color-3-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-3-foreground);
                    }
                }
                &.color-4,
                &.color-11 {
                    --background: var(--ion-color-4-background);
                    --background-activated: var(--ion-color-4-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-4-primary);
                        }
                        &.launch {
                            color: var(--ion-color-4-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-4-foreground);
                    }
                }
                &.color-5,
                &.color-12 {
                    --background: var(--ion-color-5-background);
                    --background-activated: var(--ion-color-5-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-5-primary);
                        }
                        &.launch {
                            color: var(--ion-color-5-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-5-foreground);
                    }
                }
                &.color-6,
                &.color-13 {
                    --background: var(--ion-color-6-background);
                    --background-activated: var(--ion-color-6-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-6-primary);
                        }
                        &.launch {
                            color: var(--ion-color-6-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-6-foreground);
                    }
                }
                &.color-7,
                &.color-14 {
                    --background: var(--ion-color-7-background);
                    --background-activated: var(--ion-color-7-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-7-primary);
                        }
                        &.launch {
                            color: var(--ion-color-7-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-7-foreground);
                    }
                }
            }
        }
    }
}

ion-row.directos {
    margin-inline: 10px;

    ion-col {
        display: flex;
        align-items: center;
        font-size: var(--FS13);
        font-weight: 400;

        &:last-child {
            justify-content: end;

            ion-icon {
                font-size: 24px;
            }
        }
    }
}

section.cerrar-sesion {
    margin: 10px;

    ion-button {
        --box-shadow: 0px 4px 8px 0px rgba(56, 59, 83, 0.15); //var(--ion-box-shadow);
        --ion-color-contrast: var(--ion-color-danger);
        --ion-color-base: var(--ion-item-background);
        font-size: 16px;
        font-weight: 500;
    }
}

a.close {
    position: absolute;
    right: 10px;
    color: #888;
    line-height: 0;

    i {
        font-size: 20px;
        width: 20px;
        height: 20px;
    }
}

p.version,
p.last-update {
    // margin: 0 0 15px;
    text-align: center;
    color: var(--ion-color-medium);
    font-size: 12px;
    font-weight: bold;
}

ion-modal.estacionamiento-modal {
    ion-content {
        // --background: var(--bg-color-card2);

        .titulo {
            div {
                display: flex;
                align-items: center;
                padding: 15px;

                ion-icon {
                    margin-right: 10px;
                    font-size: 24px;
                }
            }
        }

        .grafico {
            text-align: center;
        }

        .indicadores {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                display: flex;
                align-items: center;
                font-size: 16px;

                .circulo {
                    height: 8px;
                    width: 8px;
                    background-color: #dcdffc;
                    border-radius: 50%;
                    padding: 0px;
                    margin: 0px 8px 0 0;

                    &.selected {
                        background-color: var(--ion-color-primary);
                    }
                }
            }
        }
    }
}
