<ion-header class="periodos">
  <ion-toolbar>
    <ion-title routerLink="/publico/inicio">APP INACAP</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only routerLink="configuraciones" role="button" aria-label="Ir a configuraciones">
        <ion-icon src="assets/icon/settings.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="notificacionesTap()" role="button" aria-label="Ver notificaciones">
        <ion-icon src="assets/icon/notifications.svg"></ion-icon>
        <ion-badge *ngIf="mostrarNotificaciones">1</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  @if (principal && principal.periodos.length > 1) {
  <app-periodos [periodos]="principal.periodos" [selected]="periodo?.value"
    (onPeriodoSelected)="periodoSeleccionado($event)"></app-periodos>
  }
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p class="last-update" *ngIf="errorStatus && ultimaCarga">{{ultimaCarga}}</p>

  <ion-card color="white" class="destacado-list" *ngIf="mostrarDestacados">
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" style="--inner-padding-end: 14px">
          <ion-icon slot="start" color="danger" *ngIf="destacado.tipo == 4" src="assets/icon/dangerous.svg"></ion-icon>
          <ion-icon slot="start" color="success" *ngIf="destacado.tipo == 3" src="assets/icon/check_circle.svg"></ion-icon>
          <ion-icon slot="start" color="primary" *ngIf="destacado.tipo == 2" src="assets/icon/info.svg"></ion-icon>
          <ion-icon slot="start" color="warning" *ngIf="destacado.tipo == 1" src="assets/icon/warning.svg"></ion-icon>
          <ion-label>
            <p delegate [innerHTML]="resolverDestacado"></p>
          </ion-label>
          <ion-icon slot="end" name="close" (click)="ocultarDescatado(0, $event)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Banner Estacionamientos -->
  <ion-card color="white" class="destacado-list" (click)="mostrarDetalleEstacionamiento($event, usuarioModal)"
    *ngIf="mostrarEstacionamientos">
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" style="--inner-padding-end: 14px" class="ion-activatable">
          <ion-icon slot="start" src="assets/icon/{{estacionamiento.icon}}.svg"
            [color]="estacionamiento.cls"></ion-icon>
          <ion-label>
            <h2>{{estacionamiento.text}}</h2>
          </ion-label>
          <ion-icon slot="end" name="close" (click)="ocultarDescatado(1, $event)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-modal class="estacionamiento-modal" #usuarioModal [breakpoints]="[0, 0.35]" [initialBreakpoint]="0.35">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Estados en línea</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="usuarioModal.dismiss()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-row style="margin-bottom: 10px;">
          <ion-col size="12" class="titulo">
            <div>
              <ion-icon src="assets/icon/{{estacionamiento.icon}}.svg" [color]="estacionamiento.cls"></ion-icon>
              <span>Estacionamientos <b>{{status.estacionamientos.estados.aeveTnombre}}</b></span>
            </div>
          </ion-col>
          <ion-col size="4" class="grafico">
            <input type="text" [number]="status.estacionamientos.estados.porcentaje" class="dial" appKnob
              [bgColor]="'#DCDFFC'" [fgColor]="'#3A3A92'" [height]="80" [width]="80" />
          </ion-col>
          <ion-col size="8" class="indicadores">
            <span>
              <p class="circulo selected"></p>Ocupados: {{status.estacionamientos.estados.ocupados}}
            </span>
            <span>
              <p class="circulo"></p>Espacios libres: {{status.estacionamientos.estados.disponibles}}
            </span>
          </ion-col>
        </ion-row>
        <ion-button color="primary" shape="round" expand="block" (click)="recargarEstacionamientos()"
          [disabled]="cargandoEstados">Recargar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Banner Estacionamientos -->

  <ion-card color="white" class="destacado-list" routerLink="postulaciones" *ngIf="mostrarPostulaciones">
    <ion-card-content>
      <ion-list>
        <ion-item detail="true" lines="none" class="ion-activatable">
          <ion-icon slot="start" src="assets/icon/star.svg"></ion-icon>
          <ion-label>
            <h2>{{status.delegados.postulaciones.banner}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card color="white" class="destacado-list" routerLink="votaciones" *ngIf="mostrarVotaciones">
    <ion-card-content>
      <ion-list>
        <ion-item detail="true" lines="none" class="ion-activatable">
          <ion-icon slot="start" src="assets/icon/star.svg"></ion-icon>
          <ion-label>
            <h2>{{status.delegados.votaciones.banner}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card color="white" class="destacado-list" (click)="justificacionInasistenciaTap()"
    *ngIf="mostrarJustificaEvaluacion">
    <ion-card-content>
      <ion-list>
        <ion-item detail="false" lines="none" class="ion-activatable">
          <ion-label>
            <h2>Tienes una evaluación pendiente.</h2>
            <p>Si la entrega fue a través de una plataforma de INACAP, puedes ignorar este aviso.</p>
          </ion-label>
          <ion-icon slot="end" class="rounded" src="assets/icon/notas.svg"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <section class="ramos" *ngIf="!mostrarData">
    <ion-card color="white">
      <ion-skeleton-text animated style="width: 100%; height: 100%; margin: 0"></ion-skeleton-text>
    </ion-card>
    <ion-card color="white">
      <ion-skeleton-text animated style="width: 100%; height: 100%; margin: 0"></ion-skeleton-text>
    </ion-card>
    <ion-card color="white">
      <ion-skeleton-text animated style="width: 100%; height: 100%; margin: 0"></ion-skeleton-text>
    </ion-card>
  </section>

  @if (mostrarData && cursos && cursos.length) {
  <section #ramos class="ramos">
    <div class="section-header">Últimas Notas Subidas</div>
    @for (item of cursos; track $index) {
    <ion-card class="curso-{{$index + 1}}" (click)="seccionTap(item)">
      <ion-card-header [ngClass]="resolverEstado(item.estadoClase)">
        <ion-card-title>
          @if (item.estadoClase == 1) {
          <i></i>
          }
          <span>{{item.asigTdesc}}</span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="ion-no-margin ion-no-padding">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              <span class="text">Última nota:</span>
              <span class="nota-number new " [ngClass]="resolverNotaRojo(item.ultimaNota)">
                {{item.ultimaNota || '-'}}</span>
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              <span class="text">Asistencia:</span>
              <span class="asistencia-number"
                [ngClass]="resolverAsistenciaRojo(item.asistencia)">{{resolverAsistencia(item.asistencia)}}</span>
              <span class="sm" [ngClass]="resolverAsistenciaRojo(item.asistencia)">%</span>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    }
  </section>
  }

  @if (mostrarData && !cursos) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }

  <section class="agenda">
    <div class="section-header">Horario y Próximas Evaluaciones</div>
    <div class="section-content">
      <div class="fecha" routerLink="horario">
        <h3>{{resolverFechaAgenda(0)}}</h3>
        <h2>{{resolverFechaAgenda(1)}}</h2>
        <ion-icon src="assets/icon/arrow_forward.svg"></ion-icon>
      </div>
      @if (cargandoClases) {
      <div class="cargando"><ion-spinner name="lines" color="primary"></ion-spinner></div>
      }
      @if (!cargandoClases && eventos?.length == 0) {
      <div class="cargando"><span>Sin Clases</span></div>
      }
      @if (!cargandoClases && !eventos) {
      <div class="cargando"><span>Información no disponible</span></div>
      }
      @if (!cargandoClases && eventos?.length) {
      <ion-list>
        @for (item of eventos; track $index) {
        <ion-item class="ion-activatable" (click)="seccionTap(item)">
          <ion-icon slot="start" src="assets/icon/{{resolverIconoAgenda(item, 0)}}.svg"
            class="rounded {{resolverIconoAgenda(item, 1)}}"></ion-icon>
          <ion-label>
            @if (item.bloqNestado == 1) {
            <p class="danger estado-actividad">Clase Suspendida</p>
            }
            @if (item.bloqNestado == 2 || item.bloqNestado == 4) {
            <p class="success estado-actividad">Clase en Progreso</p>
            }
            @if (item.bloqNestado == 3) {
            <p class="info estado-actividad">Clase Realizada</p>
            }
            <h2>{{resolverTipoAgenda(item)}}</h2>
            <p>{{item.horaHinicio}} - {{item.horaHtermino}} | Sala: {{item['salaEjecucion'] || item['salaProgramada']}}
            </p>
          </ion-label>
        </ion-item>
        }
      </ion-list>
      }
    </div>
  </section>

  <section class="accesos-directos">
    <ion-row class="directos">
      <ion-col>Accesos Directos</ion-col>
      <ion-col>
        <ion-icon src="assets/icon/swap_vert.svg" (click)="mostrarAccesosDirectos()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      @for (item of AccesosDirectos; track $index) {
      @if (item.visible) {
      <ion-col size="6">
        <ion-button class="color-{{$index + 1}}" (click)="accesoDirectoTap(item)">
          <div class="btn-inner">
            <ion-icon [src]="item.icon" class="rounded"></ion-icon>
            <ion-label>
              <h2>{{item.label}}</h2>
              <i *ngIf="item.count && (item.count > 0)">{{item?.count}}</i>
            </ion-label>
            <ion-icon src="assets/icon/arrow_forward.svg" class="launch"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
      }
      }
    </ion-row>
  </section>

  <section class="cerrar-sesion">
    <ion-button shape="round" expand="block" color="white" (click)="logout()">Cerrar Sesión</ion-button>
  </section>

  <p class="version">Versión - {{version}}</p>

</ion-content>