<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Ofertas de Práctica" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="searchbar-container">
    <div class="controles">
      <ion-searchbar color="white" placeholder="Buscar prácticas..." [(ngModel)]="filtro" (ionInput)="filtrarEmpleos()" (ionClear)="resetEmpleos()"></ion-searchbar>
      <ion-button id="filtrosEduc" color="white" (click)="filtrosMdl.present()" [disabled]="!habilitarFiltrar">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <!-- <ion-progress-bar *ngIf="mostrarCargando" type="indeterminate"></ion-progress-bar> -->
</ion-header>

<ion-content>

  @if (mostrarCargando) {
    <div class="loaderInacap">
      <ion-spinner name="lines" color="primary"></ion-spinner>
    </div>
    }

  <ng-container *ngIf="mostrarData && ofertas">
    <section class="first">
      <div class="section-content">
        <ion-list>
          <ion-item *ngIf="ofertasFiltradas.length == 0">
            <ion-label color="medium">No se encontraron ofertas.</ion-label>
          </ion-item>
          <ion-item *ngFor="let item of ofertasFiltradas" (click)="detalleEmpleo(item)" lines="full" detail="true"
            class="ion-activatable">
            <ion-avatar slot="start">
              <img [src]="'https:' + item.logo" />
            </ion-avatar>
            <ion-label class="ion-no-padding">
              <h2>{{item.jobTitle | titleCase}}</h2>
              <p>{{item.company}}</p>
              <p>{{item.region}}</p>
              <p class="date">{{formatFecha(item.publishDate)}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </section>

    <ion-infinite-scroll #infinite threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
        loadingText="Cargando empleos..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <ion-modal #filtrosMdl [breakpoints]="[0, 0.25, 0.8]" [initialBreakpoint]="0.25" [canDismiss]="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Filtrar Prácticas</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="limpiarFiltros()">Limpiar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="filtrosMdl.dismiss()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="formFiltros" (ngSubmit)="filtrar(filtrosMdl)">
          <ion-list>
            <ion-item>
              <ion-select label="Región" labelPlacement="stacked" placeholder="Seleccione..." formControlName="region"
                okText="Aceptar" cancelText="Cancelar">
                <ion-select-option [value]="item.id" *ngFor="let item of filtros.regiones">
                  {{item.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <!-- <ion-item>
              <ion-select label="Comuna" labelPlacement="stacked" placeholder="Seleccione..." formControlName="comuna" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option [value]="item.id" *ngFor="let item of filtros.comunas">
                  {{item.name}}
                </ion-select-option>
              </ion-select>
            </ion-item> -->
            <!-- <ion-item>
              <ion-select label="Fecha publicación" labelPlacement="stacked" placeholder="Seleccione..." formControlName="comuna" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option [value]="item.id" *ngFor="let item of filtros.tipos">
                  {{item.name}}
                </ion-select-option>
              </ion-select>
            </ion-item> -->
          </ion-list>
          <ion-button color="primary" shape="round" expand="block" type="submit" style="margin-top: 15px">
            Filtrar
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <section *ngIf="mostrarData && !ofertas" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>

</ion-content>