<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inacap">
      <ion-icon src="assets/icon/inacap.svg"></ion-icon>
      <ion-label>INACAP</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="programas">
      <ion-icon src="assets/icon/school.svg"></ion-icon>
      <ion-label>Programas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sedes">
      <ion-icon src="assets/icon/business.svg"></ion-icon>
      <ion-label>Sedes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="servicios">
      <ion-icon src="assets/icon/widgets.svg"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>