ion-item {
    ion-label {
        margin-top: 10px;
        margin-bottom: 8px;
    }
    ion-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #d8d8d8;
        div {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            font-size: var(--FS16);
            text-align: center;
            span {
                display: block;
                width: 100%;
            }
        }
    }
}
