<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Opinión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  @if (data) {
  <ion-card color="white" class="primary-card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon [ngClass]="esreTdesc.color" src="assets/icon/{{esreTdesc.icon}}.svg"></ion-icon>
        <span>{{data.esreTdesc}}</span>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <section>
    <div class="section-content">
      <ion-list class="ion-no-margin">
        <ion-item>
          <ion-label>
            <p class="label">Tipo de Opinión</p>
            <h2>{{data.clopTdesc}}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p class="label">Categoría</p>
            <h2>{{data.ticoTdesc}}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p class="label">Subcategoría</p>
            <h2>{{data.coopTdesc}}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p class="label">Número</p>
            <h2>{{data.resoNcorr}}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p class="label">Fecha de Solicitud</p>
            <h2>{{data.resoFsolicitud}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>
  @if (data.resoTrespuesta) {
  <section>
    <div class="section-header">Respuesta</div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-label>
            <p style="white-space: normal; margin-top: 5px; margin-bottom: 5px" [innerHTML]="data.resoTrespuesta"></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>
  }
  @if (data.resoTsugerencia) {
  <section>
    <div class="section-header">Opinión</div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-label>
            <p style="white-space: normal; margin-top: 5px; margin-bottom: 5px" [innerHTML]="data.resoTsugerencia">
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>
  }
  }
  @if (!data) {
  <ion-card color="white" class="primary-card">
    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text animated style="width: 40%; height: 20px;"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <section>
    <div class="section-content">
      <ion-list class="ion-no-margin">
        <ion-item>
          <ion-label>
            <ion-skeleton-text animated style="width: 30%; height:10px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height:14px;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-skeleton-text animated style="width: 30%; height:10px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height:14px;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-skeleton-text animated style="width: 30%; height:10px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height:14px;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>
  <section>
    <div class="section-content">
      <ion-list class="ion-no-margin">
        <ion-item>
          <ion-label>
            <ion-skeleton-text animated style="width: 30%; height:10px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height:14px;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-skeleton-text animated style="width: 30%; height:10px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height:14px;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-skeleton-text animated style="width: 30%; height:10px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height:14px;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>
  }

</ion-content>