<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Opinión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  @if (data) {

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/add_comment.svg" class="rounded variant-2"></ion-icon>
      <ion-label>
        <h2>Solicitud {{data.resoNcorr}}</h2>
        <p class="estado-actividad {{resolverEstado(data.esreCcod)}}">{{data.esreTdesc}}</p>
        <!-- <p>Comparte tus comentarios, sugerencias o inquietudes para ayudarnos a mejorar tu experiencia como {{rol ==
          'alumno' ? 'estudiante' : 'docente'}}.</p> -->
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item>
      <ion-label>
        <h2>Tipo de Opinión:</h2>
        <span>{{data.clopTdesc}}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Categoría:</h2>
        <span>{{data.ticoTdesc}}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Subcategoría:</h2>
        <span>{{data.coopTdesc}}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Fecha de Solicitud:</h2>
        <span>{{data.resoFsolicitud}}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Comentario:</h2>
        <span [innerHTML]="data.resoTsugerencia"></span>
      </ion-label>
    </ion-item>
  </ion-list>

  @if (data.resoNombreArchivo) {
  <section>
    <div class="section-header">Archivo Adjunto</div>
    <div class="section-content">
      <ion-list>
        <ion-item (click)="descargarArchivo()">
          @if (isImage(data.resoNombreArchivo)) {
          <ion-thumbnail slot="start">
            <ion-spinner name="lines" color="primary"></ion-spinner>
            <img [src]="resolverMiniatura()" appImage [hideViewer]="true" />
          </ion-thumbnail>
          }
          @else {
          <ion-icon [src]="resolverIcono(data.resoNombreArchivo)" slot="start" color="medium"></ion-icon>
          }
          <ion-label>{{data.resoNombreArchivo}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>
  }

  @if (data.resoTrespuesta) {
  <ion-list inset="true">
    <ion-item>
      <ion-label>
        <h2>Respuesta:</h2>
        <span [innerHTML]="data.resoTrespuesta"></span>
      </ion-label>
    </ion-item>
  </ion-list>
  }
  }

  <section class="section-cerrar">
    <ion-button color="primary" shape="round" expand="block" (click)="cerrar()">Cerrar</ion-button>
  </section>

</ion-content>