<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Buscador de Docentes" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-card class="primary-card" color="white" style="margin-bottom: 0 !important">
    <ion-card-header>
      <ion-card-title>Resultados de la Búsqueda</ion-card-title>
      @if (mostrarSala) {
      <ion-card-subtitle>Sala de Clases : {{nombreSala}}</ion-card-subtitle>
      }
    </ion-card-header>
  </ion-card> -->
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/person_search.svg" class="rounded variant-1"></ion-icon>
      <ion-label>
        <h2>Resultados de la Búsqueda</h2>
        @if (mostrarSala) {
        <p>Sala de Clases : {{nombreSala}}</p>
        }
      </ion-label>
    </ion-item>
  </ion-list>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarDocente) {
  @if (docentes.length > 0) {
  <ion-accordion-group expand="inset" (ionChange)="accordionChange($event)">
    @for (item of docentes; track $index) {
    <ion-accordion [value]="item.persNcorr">
      <ion-item slot="header">
        <app-cached-image slot="start" [src]="resolverFoto(item.persNcorr)"></app-cached-image>
        <ion-label>
          <h2>{{item.persTnombre}}</h2>
          @if (item.persTemailInacap) {
          <a (click)="correo($event, item.persTemailInacap)">{{item.persTemailInacap}}</a>
          }
        </ion-label>
      </ion-item>
      <div slot="content">
        <mbsc-eventcalendar [theme]="theme" [themeVariant]="themeVariant" [(selectedDate)]="item.fecha"
          [data]="item.eventos" [view]="myView" (onEventClick)="onEventClick($event)" [locale]="pickerLocale"
          (onPageChange)="onSelectedDateChange($event, item)" [agendaEmptyTemplate]="horarioEmptyTpl">
          <ng-template #horarioEmptyTpl>
            <div class="mbsc-align-center mbsc-padding">
              <ion-spinner name="lines" color="primary" *ngIf="item.cargando"></ion-spinner>
              <span *ngIf="!item.cargando && item.eventos">Sin Clases</span>
              <span *ngIf="!item.cargando && !item.eventos">Información no disponible</span>
            </div>
          </ng-template>
        </mbsc-eventcalendar>
      </div>
    </ion-accordion>
    }
  </ion-accordion-group>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/search.svg"></ion-icon>
      <p>No se encontraron resultados. Favor utilizar otros criterios de búsqueda.</p>
      <ion-button color="primary" shape="round" [routerLink]="backUrl" routerDirection="back">
        Volver a buscar
      </ion-button>
    </div>
  </section>
  }
  }
  @if (mostrarSala) {
  <section class="section-sala">
    <mbsc-eventcalendar [theme]="theme" [themeVariant]="themeVariant" [data]="salaEventos" [(selectedDate)]="salaFecha"
      [locale]="pickerLocale" [view]="myView" (onPageChange)="onSelectedDateChange2($event)"
      [agendaEmptyTemplate]="horarioEmptyTpl">
      <ng-template #horarioEmptyTpl>
        <div class="mbsc-align-center mbsc-padding">
          <ion-spinner name="lines" color="primary" *ngIf="cargandoSala"></ion-spinner>
          <span *ngIf="!cargandoSala && salaEventos">Sin Clases</span>
          <span *ngIf="!cargandoSala && !salaEventos">Información no disponible</span>
        </div>
      </ng-template>
    </mbsc-eventcalendar>
  </section>
  }

</ion-content>