<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Buscador de Docentes" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card class="primary-card" color="white" style="margin-bottom: 0 !important">
    <ion-card-header>
      <ion-card-title>Resultados de la Búsqueda</ion-card-title>
      @if (mostrarSala) {
      <ion-card-subtitle>Sala de Clases : {{nombreSala}}</ion-card-subtitle>
      }
    </ion-card-header>
    @if (mostrarCargando) {
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
  </ion-card>
</ion-header>

<ion-content>

  @if (mostrarDocente) {
  @if (docentes.length > 0) {
  <ion-accordion-group expand="inset" (ionChange)="accordionChange($event)">
    @for (item of docentes; track $index) {
    <ion-accordion [value]="item.persNcorr">
      <ion-item slot="header">
        <app-cached-image slot="start" [src]="resolverFoto(item.persNcorr)"></app-cached-image>
        <ion-label>{{item.persTnombre}}</ion-label>
        @if (item.persTemailInacap) {
        <ion-icon style="margin-right: 8px;" slot="end" (click)="correo($event, item.persTemailInacap)"
          src="assets/icon/email.svg"></ion-icon>
        }
      </ion-item>
      <div slot="content">
        <mbsc-eventcalendar [theme]="theme" [themeVariant]="themeVariant" [(selectedDate)]="item.fecha"
          [data]="item.eventos" [view]="myView" (onEventClick)="onEventClick($event)" [locale]="pickerLocale"
          (onPageChange)="onSelectedDateChange($event, item)" [agendaEmptyTemplate]="horarioEmptyTpl">
          <ng-template #horarioEmptyTpl>
            <div class="mbsc-align-center mbsc-padding">
              <ion-spinner name="lines" color="info" *ngIf="item.cargando"></ion-spinner>
              <span *ngIf="!item.cargando && item.eventos">Sin Clases</span>
              <span *ngIf="!item.cargando && !item.eventos">Información no disponible</span>
            </div>
          </ng-template>
        </mbsc-eventcalendar>
      </div>
    </ion-accordion>
    }
  </ion-accordion-group>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/search.svg"></ion-icon>
      <p>No se encontraron resultados. Favor utilizar otros criterios de búsqueda.</p>
      <ion-button color="info" shape="round" [routerLink]="backUrl" routerDirection="back">
        Volver a buscar
      </ion-button>
    </div>
  </section>
  }
  }
  @if (mostrarSala) {
  <mbsc-eventcalendar [theme]="theme" [themeVariant]="themeVariant" [data]="salaEventos" [(selectedDate)]="salaFecha"
    [locale]="pickerLocale" [view]="myView" (onPageChange)="onSelectedDateChange2($event)" [agendaEmptyTemplate]="horarioEmptyTpl">
    <ng-template #horarioEmptyTpl>
      <div class="mbsc-align-center mbsc-padding">
        <ion-spinner name="lines" color="info" *ngIf="cargandoSala"></ion-spinner>
        <span *ngIf="!cargandoSala && salaEventos">Sin Clases</span>
        <span *ngIf="!cargandoSala && !salaEventos">Información no disponible</span>
      </div>
    </ng-template>
  </mbsc-eventcalendar>
  }

</ion-content>