<ion-header class="periodos">
  <ion-toolbar>
    <ion-title>Cursos</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="configuraciones" role="button" aria-label="Ir a configuraciones">
        <ion-icon src="assets/icon/settings.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="notificacionesTap()" role="button" aria-label="Ver notificaciones">
        @if (mostrarNotificaciones) {
        <ion-badge>1</ion-badge>
        }
        <ion-icon src="assets/icon/notifications.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  @if (principal && principal.periodos.length > 1) {
  <app-periodos [periodos]="principal.periodos" [selected]="periodo?.value"
    (onPeriodoSelected)="periodoSeleccionado($event)"></app-periodos>
  }
</ion-header>

<ion-content>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && cursos) {

  <ion-list inset="true" class="card-list">

    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/book.svg" class="rounded"></ion-icon>
      <ion-label>
        <h2>Cursos - {{periodoText}}</h2>
        <!-- <p>Aquí podrá validar los Certificados y Diplomas de Título emitidos por INACAP.</p> -->
      </ion-label>
    </ion-item>

  </ion-list>

  @if (cursos.length) {
  @for (sede of sedes; track $index) {
  <section class="cursos">
    @if (multiplesSedes) {
    <div class="section-header">Sede {{sede.sedeTdesc}}</div>
    }
    @else {
    <div class="section-header">Cursos del Semestre</div>
    }
    <div class="section-content">
      <ion-list>
        @for (seccion of cursos; track $index) {
        @if (seccion.sedeCcod == sede.sedeCcod) {
        <ion-item detail="false" class="ion-activatable" (click)="seccionTap(seccion)">
          <ion-label>
            <h2>{{seccion.asigTdesc}}</h2>
            <p>{{seccion.asigCcod}}</p>
            <p>Sección {{seccion.seccTdesc}}
              @if (seccion.ssecTdesc && seccion.seccTdesc != seccion.ssecTdesc) {
              <span> - {{seccion.ssecTdesc}}</span>
              }
            </p>
            @if (resolverRegimen(seccion, 1)) {
            <p class="jornada">
              <ion-icon src="assets/icon/wb_sunny.svg" color="medium"></ion-icon>
              <span>Jornada Diurna</span>
            </p>
            }
            @if (resolverRegimen(seccion, 2)) {
            <p class="jornada">
              <ion-icon src="assets/icon/nightlight.svg" color="medium"></ion-icon>
              <span>Jornada Vespertina</span>
            </p>
            }
            @if (resolverRegimen(seccion, 3)) {
            <p class="jornada">
              <span>Jornada Semipresencial</span>
            </p>
            }
          </ion-label>
          <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
        </ion-item>
        }
        }
      </ion-list>
    </div>
  </section>
  }
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/book.svg"></ion-icon>
      <p>Sin cursos en este momento.</p>
    </div>
  </section>
  }

  }

  @if (mostrarData && !cursos) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="info" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }

</ion-content>