@import "../dashboard-docente.page.scss";

section.cursos {
    ion-label {
        white-space: normal !important;
        margin-top: 12px;
        margin-bottom: 12px;

        h2 {
            font-weight: 500;
            font-size: var(--FS15);
            margin-top: 0;
            margin-bottom: 2px;
        }
        p {
            font-size: var(--FS13);
            margin: 2px 0 0 0;
            color: var(--ion-color-medium);

            &.jornada,
            &.sede {
                display: flex;
                align-items: center;

                ion-icon {
                    font-size: var(--FS20);
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }
}
