<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="INACAP" defaultHref="publico/inacap"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  @if (mostrarCargando) {
    <div class="loaderInacap">
      <ion-spinner name="lines" color="info"></ion-spinner>
    </div>
    }

  @if (mostrarData) {
  <section class="inacap">
    <div class="image">
      <img src="assets/images/publico/sobre_inacap.png" />
      <div class="title">
        <ion-item lines="none">
          <div class="icon" slot="start">
            <ion-icon src="assets/icon/inacap.svg"></ion-icon>
          </div>
          <ion-label>
            <h2>Sobre INACAP</h2>
            <P>¿Quiénes somos?</P>
          </ion-label>
        </ion-item>
      </div>
    </div>
    <div class="section-content">
      <div class="content" [innerHTML]="data"></div>
    </div>
  </section>
  }

  <section *ngIf="mostrarError" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="info" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>

</ion-content>