section.inacap {
  margin: 0;
  
  .image {
    height: 276px;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .title {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px;

      ion-item {
        --border-radius: 8px;
        --padding-start: 15px;
        --padding-top: 18px;
        --padding-bottom: 18px;

        .icon {
          background: #fcc3b5;
          height: 57px;
          width: 57px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          ion-icon {
            font-size: 24px;
            color: #040B15;
          }
        }
      }
    }
  }
  .section-content {
    margin-top: 15px;
    padding: 15px;
    font-size: var(--FS14);
    color: var(--ion-text-color);
  }
}
