ion-header {
    ion-card {
        margin-bottom: 0 !important;
    }
}

section {
    &.riesgos {
        ion-accordion-group {
            margin: 0;

            ion-accordion {
                margin: 0;
            }
        }
        ion-row {
            text-align: center;

            ion-col {
                display: flex;
                align-items: center;
                padding: 0;
                // justify-content: center;

                ion-icon {
                    flex: 0 0 24px;
                    font-size: 24px;
                    margin-right: 10px;
                }

                span {
                    text-align: left;
                    font-size: var(--FS12);

                    &.rojo {
                        color: var(--ion-color-danger);
                    }

                    &.verde {
                        color: var(--ion-color-success);
                    }
                }
            }
        }
        ion-button {
            --ion-color-base: transparent !important;
            --box-shadow: none !important;

            ion-icon {
                color: var(--ion-color-medium);
            }
        }
    }

    .table-content {
        display: block;
        overflow-x: auto;
        padding: 15px;
    }

    .table {
        width: 100%;
        background-color: #fff;
        font-size: var(--FS14);
    }
    .table td,
    .table th {
        padding: 0.5rem;
        vertical-align: middle;
        border: var(--border);
        text-align: center;
        white-space: nowrap;
    }
    .table tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

::ng-deep body.dark {
    section {
        &.riesgos {
            ion-accordion {
                background-color: var(--ion-color-dark-shade) !important;
            }
        }
        .table {
            width: 100%;
            background-color: #000 !important;
        }
    }
}
