// @import "src/theme/perfil.scss";

p.correo {
    color: var(--ion-color-primary) !important;
}
section .section-content {
    margin-bottom: 5px !important;
}
.riesgos {
    text-align: center;
    padding: 0 15px;
    p {
        font-size: var(--FS13);
        font-weight: 500;
        margin: 0;
    }
    span.circle {
        display: block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        margin: 0 auto 4px;
        //background-color: var(--ion-color-success);
        background: var(--bg-gradient-green);

        &.red {
            // background-color: var(--ion-color-danger);
            background: var(--bg-gradient-red);
        }
    }
}

@media screen and (max-width: 600px) {
    .riesgos p > span {
        display: block;
    }
}
