<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Curso" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card color="white" class="primary-card">
    <ion-card-header>
      <ion-card-title>Bibliografía</ion-card-title>
      <ion-card-subtitle>{{asignatura}}</ion-card-subtitle>
    </ion-card-header>
    <ion-progress-bar *ngIf="mostrarCargando" type="indeterminate"></ion-progress-bar>
  </ion-card>
</ion-header>

<ion-content style="--padding-top: 15px;">

  <ng-container *ngIf="mostrarData && data">

    <ion-card class="notificacion" color="primary">
      <ion-card-content>
        <ion-icon src="assets/icon/error_outline.svg"></ion-icon>
        <span>Recuerda que este material no se puede descargar desde la APP INACAP.</span>
      </ion-card-content>
    </ion-card>

    <ion-list inset="true">
      <ion-item *ngFor="let item of data">
        <ion-icon slot="start" src="assets/icon/book.svg" color="medium"></ion-icon>
        <ion-label class="ion-text-nowrap">
          <h2>{{item.bibl_ttitulo}}</h2>
          <p *ngIf="item.bibl_tautor">Autor: {{item.bibl_tautor}}</p>
          <p *ngIf="item.bibl_teditorial">Editorial: {{item.bibl_teditorial}}</p>
          <p *ngIf="item.bibl_nano">Año: {{item.bibl_nano}}</p>
        </ion-label>
        <ion-icon *ngIf="item.bibl_turl_enlace" slot="end" src="assets/icon/visibility.svg" color="medium"
          (click)="abrirBibliografia(item.bibl_turl_enlace)"></ion-icon>
        <ion-icon *ngIf="!item.bibl_turl_enlace" slot="end" src="assets/icon/error_outline.svg" color="medium"
          (click)="alertaLibro()"></ion-icon>
      </ion-item>
    </ion-list>
  </ng-container>

  <section *ngIf="mostrarData && !data" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>

</ion-content>