<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only role="button" aria-label="Iniciar sesión" (click)="usuarioTap()">
        <ion-icon src="assets/icon/account_circle.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only role="button" aria-label="Ver notificaciones" (click)="notificacionesTap()" aria-label="Ver notificaciones">
        <ion-icon src="assets/icon/notifications.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/images/logo-blanco.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>