ion-header {
    ion-title.md {
        text-align: left;
        padding-left: 0;
    }
}

.certificados {
    ion-label {
        white-space: normal;
    }
}

.carreras {
    ion-select::part(text) {
        font-size: var(--FS14);
        white-space: normal;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.directos {
    .section-header {
        padding-top: 0;
    }
    .section-content {
        background: transparent !important;
        overflow-x: scroll;
        padding: 10px 0 0 0;
        white-space: nowrap;
        border: none !important;
        margin-bottom: 0;
        box-shadow: none;

        ion-card {
            display: inline-block;
            margin: 0 10px 0 0;
            width: 140px;
            height: 60px;
            white-space: normal;
            box-shadow: none;

            ion-card-content {
                padding: 6px 10px;
                font-size: var(--FS13);
                font-weight: 400;
                display: flex;
                align-items: center;
                height: 100%;

                ion-icon {
                    flex: 0 0 24px;
                    margin-right: 6px;
                    font-size: 24px;
                }

                span {
                    line-height: 1.2;
                }
            }

            &.color-1,
            &.color-8 {
                background: var(--ion-color-1-background);

                ion-card-content {
                    ion-icon {
                        color: var(--ion-color-1-foreground);
                    }
                }
            }

            &.color-2,
            &.color-9 {
                background: var(--ion-color-2-background);

                ion-card-content {
                    ion-icon {
                        color: var(--ion-color-2-foreground);
                    }
                }
            }

            &.color-3,
            &.color-10 {
                background: var(--ion-color-3-background);

                ion-card-content {
                    ion-icon {
                        color: var(--ion-color-3-foreground);
                    }
                }
            }

            &.color-4,
            &.color-11 {
                background: var(--ion-color-4-background);

                ion-card-content {
                    ion-icon {
                        color: var(--ion-color-4-foreground);
                    }
                }
            }

            &.color-5,
            &.color-12 {
                background: var(--ion-color-5-background);

                ion-card-content {
                    ion-icon {
                        color: var(--ion-color-5-foreground);
                    }
                }
            }

            &.color-6,
            &.color-13 {
                background: var(--ion-color-6-background);

                ion-card-content {
                    ion-icon {
                        color: var(--ion-color-6-foreground);
                    }
                }
            }

            &.color-7,
            &.color-14 {
                background: var(--ion-color-7-background);

                ion-card-content {
                    ion-icon {
                        color: var(--ion-color-7-foreground);
                    }
                }
            }
        }

        .card:first-child {
            margin-left: 0;
        }
    }
}

section.disponibles {
    ion-accordion-group {
        margin-top: 0;

        ion-item[slot="header"] {
            //--ion-item-background: #666;
            // --color: white;
            --padding-start: 15px;
            font-size: var(--FS14);

            // ::ng-deep ion-icon {
            //     color: white;
            // }
        }

        p.estado-actividad {
            margin-top: 12px;
            margin-right: 10px;
            min-width: 30px;
            border-color: #1565c0;
            color: #1565c0;
            background-color: #e1edfa;
        }
    }
}

.historicos {
    margin-top: 15px;
}

ion-modal {
    .header {
        display: flex;
        align-items: center;

        ion-icon {
            font-size: 60px;
            width: 60px;
            height: 60px;
        }
        div {
            padding-left: 10px;
            h2 {
                margin-top: 0px;
                font-size: var(--FS20);
                font-weight: 500;
            }
            p {
                color: var(--ion-color-medium) !important;
            }
        }
    }
}

ion-modal.periodos {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
}
