<ion-header>
  <ion-toolbar>
    <ion-title>Portafolio</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only routerLink="configuraciones" role="button" aria-label="Ver notificaciones">
        <ion-icon src="assets/icon/settings.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="notificacionesTap()" role="button" aria-label="Ver notificaciones">
        <ion-icon src="assets/icon/notifications.svg"></ion-icon>
        <ion-badge *ngIf="mostrarNotificaciones">1</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false" routerLink="informacion-personal">
      <avatar-comp slot="start"></avatar-comp>
      <ion-label>
        <h2>Datos Personales y Formación</h2>
        <p>Fernando Andrés Saavedra</p>
        <p>Contador Público</p>
      </ion-label>
      <ion-icon slot="end" src="assets/icon/edit.svg"></ion-icon>
    </ion-item>
  </ion-list>

  <section class="actividad">
    <h2>Actividad</h2>
  </section>

  <div class="tabs">
    <ion-segment [(ngModel)]="activeTab" mode="ios" [swipeGesture]="false">
      <ion-segment-button [value]="0">
        <ion-label>Resumen académico</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1">
        <ion-label>Trayectoria</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <section class="actividades-items">

    @if (activeTab == 0) {
    <ion-row>
      <ion-col size="6">
        <ion-button class="color-1" routerLink="progresion">
          <div class="btn-inner">
            <ion-icon src="assets/icon/school.svg" class="rounded"></ion-icon>
            <ion-label>
              <h1>67%</h1>
              <p>Avance programa de estudios</p>
            </ion-label>
            <ion-progress-bar [value]="0.30"></ion-progress-bar>
            <ion-icon src="assets/icon/arrow_forward.svg" class="launch"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="color-2">
          <div class="btn-inner" routerLink="progresion/riesgos-academicos">
            <ion-icon src="assets/icon/report_gmailerrorred.svg" class="rounded"></ion-icon>
            <ion-label>
              <h1>67%</h1>
              <p>Avance programa de estudios</p>
            </ion-label>
            <ion-progress-bar [value]="30"></ion-progress-bar>
            <ion-icon src="assets/icon/arrow_forward.svg" class="launch"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="color-3" routerLink="practica-profesional">
          <div class="btn-inner">
            <ion-icon src="assets/icon/assignment_ind.svg" class="rounded"></ion-icon>
            <ion-label>
              <h2>Práctica Profesional</h2>
              <!-- <h1>410</h1>
              <p>Práctica Profesional (horas logradas)</p> -->
            </ion-label>
            <!-- <ion-progress-bar [value]="30"></ion-progress-bar> -->
            <ion-icon src="assets/icon/arrow_forward.svg" class="launch"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="color-4" routerLink="certificados-intermedios">
          <div class="btn-inner">
            <ion-icon src="assets/icon/verified.svg" class="rounded"></ion-icon>
            <ion-label>
              <h2>Certificados Intermedios</h2>
              <!-- <h1>1/6</h1>
              <p>Certificados Intermedios</p> -->
            </ion-label>
            <!-- <ion-progress-bar [value]="30"></ion-progress-bar> -->
            <ion-icon src="assets/icon/arrow_forward.svg" class="launch"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    }
    @else if (activeTab == 1) {
    <ion-row>
      <!-- <ion-col size="6">
        <ion-button class="color-5">
          <div class="btn-inner">
            <ion-icon src="assets/icon/rocket_launch.svg" class="rounded"></ion-icon>
            <ion-label>
              <h2>Evidencias de aprendizaje</h2>
            </ion-label>
            <ion-icon src="assets/icon/arrow_forward.svg" class="launch"></ion-icon>
          </div>
        </ion-button>
      </ion-col> -->
      <ion-col size="6">
        <ion-button class="color-6" routerLink="reconocimientos">
          <div class="btn-inner">
            <ion-icon src="assets/icon/star.svg" class="rounded"></ion-icon>
            <ion-label>
              <h2>Logros y Reconocimientos</h2>
            </ion-label>
            <ion-icon src="assets/icon/arrow_forward.svg" class="launch"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    }

  </section>

  <section class="descargar">
    <ion-button expand="block" color="primary" shape="round" (click)="mdlPortafolio.present()">Descargar Portafolio</ion-button>
  </section>

  <ion-modal #mdlPortafolio>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Portafolio</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="mdlPortafolio.dismiss()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-button (click)="descargar()">Descargar PDF</ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>