<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Solicitud</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="detalle-solicitud">

  <ng-container *ngIf="data">

    <ion-card color="white" class="primary-card">
      <ion-card-header>
        <ion-card-title>{{data.solicitud.tisoTdesc}}</ion-card-title>
        <!-- <ion-card-subtitle>
          <ion-icon color="success" *ngIf="data.solicitud.esolCcod == 2" src="assets/icon/check_circle.svg"></ion-icon>
          <ion-icon color="danger" *ngIf="data.solicitud.esolCcod == 3" src="assets/icon/highlight_off.svg"></ion-icon>
          <ion-icon color="medium"
            *ngIf="data.solicitud.esolCcod == 6 || data.solicitud.esolCcod == 8 || data.solicitud.esolCcod == 11"
            src="assets/icon/highlight_off.svg"></ion-icon>
          <ion-icon color="medium" *ngIf="data.solicitud.esolCcod == 1" src="assets/icon/access_time.svg"></ion-icon>
          <span>{{data.solicitud.esolTdesc}}</span>
        </ion-card-subtitle> -->
      </ion-card-header>
    </ion-card>

    <section>
      <div class="section-header">Datos Solicitud</div>
      <div class="section-content">
        <ion-list class="detalle">
          <ion-item>
            <ion-label>
              <h2>Folio solicitud:<span>{{data.solicitud.soliNcorr}}</span></h2>              
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Programa de estudio: <span>{{data.solicitud.carrera}}</span></h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Sede:<span>{{data.solicitud.sedeTdesc}}</span></h2>              
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Período académico:<span>{{data.solicitud.periodo}}</span></h2>              
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Estado Solicitud:<p class="estado-actividad {{resolverEstado(data.solicitud)}}">{{data.solicitud.esolTdesc}}</p></h2>              
            </ion-label>
          </ion-item>
          @if (data.solicitud.resoNcorr) {
          <ion-item>
            <ion-label>
              <h2>Folio resolución:<span>{{data.solicitud.resoNcorr}}</span></h2>              
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </div>
    </section>

    @if (data.solicitud.esolCcod == 3) {
    <section *ngIf="data.solicitud.esolCcod == 3">
      <div class="section-content">
        <ion-list class="detalle">
          <ion-item>
            <ion-label>
              <h2>Motivo de rechazo:<span>{{data.solicitud.soliTmotivoRechazo}}</span></h2>              
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </section>
    }

    @if (data.solicitud.tisoCcod == '35' && data.causales.length > 0) {
    <section>
      <div class="section-header">Causales de Anulación Contrato</div>
      <div class="section-content">
        <ion-list class="detalle">
          @for (item of data.causales; track $index) {
          <ion-item>
            <ion-label *ngIf="item.tacoCcod != 7">
              <h2>{{item.tacoTdesc}}</h2>
            </ion-label>
            <ion-label *ngIf="item.tacoCcod == 7">
              <h2>{{item.tacoTdesc}}<span>{{item.caacTdesc || 'Sin dato'}}</span></h2>              
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </div>
    </section>
    }

    @if (data.detalle.length) {
    <section>
      <div class="section-header">Detalle</div>
      <div class="section-content">
        <ion-list class="detalle">
          @for (item of data.detalle; track $index) {
          <ion-item>
            <ion-label>
              <h2>{{resolverLabel(item.cams_tlabel)}}<span>{{item.detalle || 'Sin dato'}}</span></h2>              
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </div>
    </section>
    }

    @if (data.documentos.length) {
    <section>
      <div class="section-header">Documentos adjuntos</div>
      <div class="section-content">
        <ion-list>
          @for (item of data.documentos; track $index) {
          <ion-item (click)="descargarArchivo(item)" detail="false" class="ion-activatable">
            <ion-icon [src]="resolverIcono(item.soarTnombre)" slot="start" color="medium"></ion-icon>
            <ion-label>
              <h2>{{item.soarTnombre}}</h2>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/download.svg"></ion-icon>
          </ion-item>
          }
        </ion-list>
      </div>
    </section>
    }

    @if (data.enlaces.length) {
    <section>
      <div class="section-header">Descargas</div>
      <div class="section-content">
        <ion-list>
          @for (item of data.enlaces; track $index) {
          <ion-item (click)="descargar(item.url)" detail="false" class="ion-activatable">
            <ion-icon slot="start" src="assets/icon/insert_drive_file.svg"></ion-icon>
            <ion-label style="white-space: normal">{{item.nombre}}</ion-label>
            <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
          </ion-item>
          }
        </ion-list>
      </div>
    </section>
    }

    @if (data.solicitud.tisoCcod != '35') {
    <section style="margin: 15px">
      <ion-button color="danger" shape="round" expand="block" (click)="anular()"
        [disabled]="data.solicitud.esolCcod != 1 && data.solicitud.esolCcod != 7">
        Anular
      </ion-button>
    </section>
    }

  </ng-container>

</ion-content>