ion-avatar {
    height: 60px !important;
    width: 60px !important;
    border-radius: 4px;
    margin: 0 15px 0 0;
    overflow: hidden;

    img {
        border-radius: 0;
    }
}

p.date {
    margin-top: 6px;
    font-size: var(--FS11);
    line-height: normal;
    text-align: right;
    color: var(--ion-color-medium);
}

ion-card.primary-card {
    ion-card-header {
        padding-bottom: 10px;
        
        ion-select {
            padding: 0;
            padding-right: 5px;
            font-size: var(--FS12);
            text-transform: uppercase;
            color: var(--ion-color-medium) !important;
            opacity: 1 !important;
            letter-spacing: 0.4px;
            min-height: 30px;
        }  
    }
    ion-card-content {padding-top: 0 !important;}
}

section.ultimas-practicas {
    .section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
    }
}