<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backText" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card class="primary-card" style="margin-bottom: 0 !important;">
    <ion-card-header>
      <ion-card-title>Ofertas de Práctica Profesional</ion-card-title>
      <div *ngIf="programas && programas.length > 1" class="select-container">
        <ion-select label="" labelPlacement="stacked" interface="action-sheet" [(ngModel)]="carrCcod" (ionChange)="cambiarCarrera()">
          <ion-select-option *ngFor="let item of programas" [value]="item.carrCcod">
            {{item.carrTdesc}}
          </ion-select-option>
        </ion-select>
      </div>
      <ion-card-subtitle *ngIf="programas && programas.length == 1">
        {{programa.carrTdesc}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-progress-bar *ngIf="mostrarCargando" type="indeterminate"></ion-progress-bar>
  </ion-card>
</ion-header>

<ion-content>

  <ng-container *ngIf="mostrarData && data">

    <ion-list inset="true">
      <ion-item class="ion-activatable" detail="false" (click)="mostrarInfoPracticas()">
        <ion-icon slot="start" color="medium" src="assets/icon/info.svg"></ion-icon>
        <ion-label>Información de Prácticas</ion-label>
        <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
      </ion-item>
      <ion-item class="ion-activatable" detail="false" (click)="mostrarSolicitudPractica()">
        <ion-icon slot="start" color="medium" src="assets/icon/access_time.svg"></ion-icon>
        <ion-label>Sol. de Inscripción de Práctica</ion-label>
        <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
      </ion-item>
      <ion-item class="ion-activatable" detail="false" (click)="mostrarCertificadoPractica()">
        <ion-icon slot="start" color="medium" src="assets/icon/file_copy.svg"></ion-icon>
        <ion-label>Sol. Certificado Seguro - Prácticas</ion-label>
        <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
      </ion-item>
    </ion-list>

    <section *ngIf="ofertas" class="ultimas-practicas">
      <div class="section-header">
        Emplea INACAP - Últimas Prácticas
        <ion-button fill="outline" slot="end" size="small" color="primary" routerLink="buscador">Ver Todo</ion-button>
      </div>
      <div class="section-content">
        <ion-list>
          <ion-item *ngIf="ofertas.length == 0">
            <ion-label color="medium">No se encontraron ofertas.</ion-label>
          </ion-item>
          <ion-item *ngFor="let item of ofertas" (click)="detalleEmpleo(item)" lines="full" detail="true" class="ion-activatable">
            <ion-avatar slot="start">
              <img [src]="'https:' + item.logo" />
            </ion-avatar>
            <ion-label class="ion-no-padding">
              <h2>{{item.jobTitle | titleCase}}</h2>
              <p>{{item.company}}</p>
              <p>{{item.region}}</p>
              <p class="date">{{formatFecha(item.publishDate)}}</p>
            </ion-label>
          </ion-item>
          <ion-item detail="true" routerLink="buscador" routerDirection="forward" *ngIf="ofertas.length > 0">
            <ion-label>Ver toda la oferta</ion-label>
          </ion-item>
        </ion-list>
     </div>
    </section>

  </ng-container>

  <section *ngIf="mostrarData && !data" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>

</ion-content>