ion-content.evaluaciones-content {
    .primary-card {
        ion-card-header {
            ion-card-title {
                h2 {
                    margin: 0;
                    font-size: var(--FS22);
                    font-weight: 700;
                }
                p {
                    margin: 5px 0 0;
                    font-size: var(--FS14);
                    font-weight: 400;
                }
            }
        }
    }

    section.evaluaciones {
        ion-list {
            ion-item {
                [slot="start"] {
                    padding: 10px 15px;
                    font-size: 16px;
                    background: #dcdff9;
                    border-radius: 4px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: #040b15;
                    min-width: 30px;
                    text-align: center;
                    font-size: var(--FS16);

                    ::ng-deep b {
                        font-size: var(--FS24);
                        display: block;
                    }
                }
                ion-label {
                    h2 {
                        margin: 0;
                        font-size: var(--FS14);
                    }
                    p {
                        margin: 0;
                        font-size: var(--FS12);
                    }
                }
                p.estado-actividad {
                    margin: 0;
                    min-width: 40px;
                }
            }
        }
    }
}
ion-footer {
    &.notas-finales {
        // background: #fff;
        background-color: var(--ion-color-white);

        ion-grid {
            padding: 0;

            ion-col {
                text-align: center;
                height: 65px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-evenly;

                p {
                    color: var(--ion-color-medium);
                    font-size: var(--FS11);
                    margin: 0;
                }

                strong {
                    font-size: var(--FS22);
                    color: var(--ion-color-medium);

                    &.rojo {
                        color: var(--ion-color-primary) !important;
                    }
                    &.gris {
                        color: var(--ion-color-medium) !important;
                    }
                }
            }
        }
    }
}
