<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Curso" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="evaluaciones-content">

  <ion-card color="white" class="primary-card">
    <ion-card-header>
      <ion-card-title>
        <h2>Evaluaciones</h2>
        <p>{{asignatura}}</p>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  @if (evaluaciones) {
  @if (evaluaciones.length > 0) {
  <section class="evaluaciones">
    <div class="section-header">Evaluaciones</div>
    <div class="section-content">
      <ion-list>
        @for (item of evaluaciones; track $index) {
        <ion-item>
          <div slot="start" [innerHTML]="resolverFechaEvaluacion(item)"></div>
          <ion-label>
            <h2>{{item.asigTdesc}}</h2>
            <p>Evaluación: {{item.caliNevaluacion}} : {{item.caliNponderacion}}%</p>
          </ion-label>
          <p class="estado-actividad {{resolverNota(item.calaNnota)}}" slot="end">{{item.calaNnota || '-.-'}}</p>
        </ion-item>
        }
      </ion-list>
    </div>
  </section>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/star.svg"></ion-icon>
      <p>Sin evaluaciones en este momento</p>
    </div>
  </section>
  }
  }

</ion-content>

<ion-footer class="notas-finales" *ngIf="data && data.estadoSeccion && data.estadoSeccion.length">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of data.estadoSeccion">
        <p>{{item.text}}</p>
        <strong class="{{resolverNota(item.value)}}">{{item.value || '-.-'}}</strong>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>