<ng-container>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/add_comment.svg" class="rounded variant-2"></ion-icon>
      <ion-label>
        <h2>Buzón de Opiniones</h2>
        <p>Comparte tus comentarios, sugerencias o inquietudes para ayudarnos a mejorar tu experiencia como {{rol ==
          'alumno' ? 'estudiante' : 'docente'}}.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  @if (mostrarData && sugerencias) {
  <section class="section-nueva-opinion">
    <ion-button color="primary" shape="round" expand="full" (click)="nuevaOpinion()" [disabled]="mostrarCargando">
      <ion-icon slot="start" src="assets/icon/add.svg"></ion-icon>
      <ion-label>Nueva Opinión</ion-label>
    </ion-button>
  </section>
  }

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && sugerencias) {
  @if (sugerencias.length > 0) {
  <section>
    <div class="section-header">Sugerencias</div>
    <div class="section-content">
      <ion-list>
        @for (item of sugerencias; track $index) {
        <ion-item (click)="detalleOpinion(item.resoNcorr)" detail="false" class="ion-activatable">
          <ion-label>
            <h2>Solicitud {{item.resoNcorr}}</h2>
            <p>Fecha: {{formatFecha(item.resoFsolicitud)}}</p>
            <p class="estado-actividad {{resolverEstado(item.esreCcod)}}">{{item.esreTdesc}}</p>
          </ion-label>
          @if (item.resoNombreArchivo) {
          <ion-icon slot="end" src="assets/icon/attach_file.svg" color="medium"></ion-icon>
          }
          <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
        </ion-item>
        }
      </ion-list>
    </div>
  </section>
  }
  @if (sugerencias.length == 0) {
  <section class="empty-state">
    <div>
      <ion-icon class="folder" src="assets/images/folder.svg"></ion-icon>
      <p>No hay opiniones históricas en este momento.</p>
    </div>
  </section>
  }
  }

  @if (mostrarData && !sugerencias) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }

</ng-container>