@import "src/theme/horario-section.scss";

ion-header {
    ion-card {
        margin-bottom: 0 !important;
    }
}

ion-card-content.detalle-seccion {
    &.has-chart {
        ul {
            li {
                display: flex;
                align-items: center;
                margin-bottom: 4px;
                span.circle {
                    width: 5px;
                    height: 5px;
                    border-radius: 3px;
                    display: inline-block;
                    background-color: var(--ion-color-secondary);
                    margin-right: 5px;

                    &.blue {
                        background-color: var(--ion-color-info);
                    }
                    &.green {
                        background-color: var(--ion-color-success);
                    }
                    &.yellow {
                        background-color: var(--ion-color-warning);
                    }
                }
            }
        }

        ion-col:last-child {
            text-align: center;
        }
    }

    div.bottom-link {
        border-top: var(--border-light);
        ion-list {
            ion-item {
                height: 40px;
                display: flex;
                align-items: center;
                ion-label {
                    font-size: var(--FS16);
                    text-transform: uppercase;
                    font-weight: 500;
                    color: #666;
                }
                i {
                    color: var(--arrow-color);
                }
            }
        }
    }
}

ul {
    font-weight: 600;

    ::ng-deep li.empty {
        min-width: 60px !important;

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            /* text-align: center; */
            padding-inline: 8px !important;
        }
    }
}

ion-card#horario {
    ion-card-header {
        padding-bottom: 0;

        ion-card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span.normal {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    ion-card-content {
        padding-top: 0;
    }

    mbsc-eventcalendar {
        ::ng-deep .mbsc-calendar-header {
            //display: none;
            // background: var(--bg-color-card2);

            .mbsc-calendar-controls {
                padding: 0 5px;
                min-height: 25px;

                .mbsc-ios.mbsc-button {
                    color: var(--ion-color-primary);
                }

                .mbsc-material.mbsc-button {
                    font-size: 10px;
                }
            }
        }
        ::ng-deep .mbsc-calendar-body {
            .mbsc-ios.mbsc-calendar-today,
            .mbsc-ios.mbsc-calendar-week-nr {
                // color: var(--ion-color-primary);
            }
            .mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
                background: var(--ion-color-primary);
                border-color: var(--ion-color-primary);
            }
        }
        ::ng-deep .mbsc-event-list-empty {
            margin: 15px;
            font-size: var(--FS14);
        }
        ::ng-deep .mbsc-schedule-event {
            color: var(--ion-color-info) !important;

            .progreso {
                color: var(--ion-color-success) !important;
            }

            .suspendida {
                color: var(--ion-color-danger) !important;
            }
        }
        // ::ng-deep .mbsc-ios-dark.mbsc-schedule-event {
        //     color: var(--ion-color-info) !important;
        // }
        ::ng-deep .mbsc-material.mbsc-colored-event.mbsc-list-item {
            background-color: var(--ion-color-info) !important;
            // color: var(--ion-color-step-950) !important;

            .progreso {
                background-color: var(--ion-color-success) !important;
            }

            .suspendida {
                background-color: var(--ion-color-danger) !important;
            }
        }
        ::ng-deep .mbsc-material.mbsc-selected .mbsc-calendar-cell-text {
            background-color: var(--ion-color-info) !important;
            border-color: var(--ion-color-info) !important;
        }

        ::ng-deep .mbsc-ios-dark.mbsc-selected .mbsc-calendar-cell-text,
        ::ng-deep .mbsc-material.mbsc-selected .mbsc-calendar-cell-text {
            background-color: var(--ion-color-info) !important;
            border-color: var(--ion-color-info) !important;
            // color: var(--ion-text-color) !important;
            color: var(--ion-color-primary-contrast) !important;
        }

        ::ng-deep .mbsc-ios.mbsc-event-color {
            background-color: var(--ion-color-info) !important;
        }

        ::ng-deep .mbsc-ios.mbsc-event.mbsc-list-item {
            .mbsc-ios.mbsc-event-color {
                background: var(--ion-color-info) !important;
            }
            &.suspendida {
                .mbsc-ios.mbsc-event-color {
                    background: var(--ion-color-danger) !important;
                }
            }
            &.progreso {
                .mbsc-ios.mbsc-event-color {
                    background: var(--ion-color-success) !important;
                }
            }
            &.realizada {
                .mbsc-ios.mbsc-event-color {
                    background: var(--ion-color-medium) !important;
                }
                .mbsc-ios.mbsc-event-text {
                    color: var(--ion-color-medium);
                }
            }
        }
        ::ng-deep .mbsc-material.mbsc-colored-event.mbsc-list-item {
            background: var(--ion-color-info) !important;

            &.suspendida {
                background: var(--ion-color-danger) !important;
            }
            &.progreso {
                background: var(--ion-color-success) !important;
            }
            &.realizada {
                background: var(--ion-color-medium) !important;
            }
        }
    }

    ::ng-deep body.dark {
        .mbsc-material.mbsc-colored-event.mbsc-list-item {
            color: var(--ion-color-step-950) !important;
        }

        .mbsc-material.mbsc-schedule-event-inner {
            color: var(--ion-color-step-900) !important;
        }
    }
}

ion-card.riesgo {
    ion-card-content {
        display: flex;
        align-items: center;
        padding: 12px !important;
        font-size: var(--FS14);

        span {
            padding-left: 10px;
        }
    }
}

ion-card.notificacion {
    margin: 12px 12px 0;

    ion-card-content {
        display: flex;
        align-items: center;
        padding: 12px !important;
        font-size: var(--FS14);

        span {
            padding-left: 10px;
        }
    }
}

.horario .start-time {
    font-size: var(--FS12) !important;
}

ion-card#asistencia,
ion-card#notas {
    ion-card-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

ion-card#notas {
    ion-card-content {
        padding: 0;
    }
}

ion-item.evaluacion {
    --padding-start: 15px;

    [slot="start"] {
        flex: 0 0 40px;
        margin: 0 15px 0 0;
        text-align: center;
        color: var(--ion-color-medium);

        ::ng-deep b {
            display: block;
            font-size: var(--FS26);
            font-weight: normal;
            line-height: 26px;
        }
    }

    ion-label {
        h2 {
            white-space: normal;
            font-weight: 500;
        }
    }

    .ponderacion {
        height: 30px;
        width: 30px;
        border: 1px solid;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: var(--FS14);
        font-weight: 600;
        color: var(--ion-color-success);

        &.rojo {
            color: var(--ion-color-primary) !important;
        }
        &.gris {
            color: var(--ion-color-medium) !important;
        }
    }
}

ion-card#docente ion-card-content {
    display: flex;
    align-items: center;

    app-cached-image {
        margin-right: 10px;
        height: 45px;
        width: 45px;
    }

    p {
        font-size: var(--FS16);
    }
    h3 {
        font-size: var(--FS14);
    }
}

#notas {
    ion-card-content {
        padding-right: 0;
        padding-bottom: 10px;

        ul {
            display: flex;
            margin-left: -10px;
            // width: 400px;
            margin-top: 0;

            li {
                width: 60px;
                text-align: center;
                margin: 0 10px;

                div.nota {
                    background-color: var(--ion-color-light);
                    color: var(--ion-color-dark);
                    border-radius: 4px;
                    margin-bottom: 2px;
                    font-size: var(--FS16);
                    padding: 2px 0;
                    &.rojo {
                        color: var(--ion-color-danger) !important;
                    }
                }

                div.nombre-eval {
                    font-size: var(--FS11);
                }
                div.porcent-eval {
                    font-size: var(--FS12);
                    color: var(--ion-color-medium);
                    margin-top: -2px;
                }
                // @media (prefers-color-scheme: dark) {
                //     div.nombre-eval {color: white}
                //     div.porcent-eval {color: var(--ion-color-light);}
                // }
            }
        }
        .notas-finales {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 5px;

            div.item {
                width: 120px;
                text-align: center;

                div {
                    width: 80px;
                    margin: 0 auto;
                    border: 3px solid var(--ion-color-light);
                    height: 45px;
                    border-radius: 4px;
                    font-size: var(--FS20);
                    font-weight: bold;
                    line-height: 40px;
                }
                span {
                    margin: 5px -5px 0 -5px;
                    white-space: normal;
                    font-size: var(--FS12);
                    line-height: 14px;
                    display: block;
                }
            }
        }
    }
}

#horario {
    // ion-card-content {
    //     padding-right: 0 !important;
    // }
    .scroll-item {
        min-height: 100px;
    }
}

body.dark {
    #notas {
        div.nota {
            background-color: transparent !important;
            border: 1px solid var(--ion-color-light);
        }
    }
}

.avatares {
    display: flex;
    padding: 10px 0;

    app-cached-image {
        height: 30px;
        width: 30px;
    }
    ion-avatar {
        height: 30px;
        width: 30px;
        background: var(--ion-color-medium);
        margin-right: 4px;
        font-size: var(--FS12);
        color: white;
        text-align: center;
    }
}
