//@import "src/theme/horario-section.scss"

ion-content.detalle-seccion {
    ion-card.primary-card {
        // box-shadow: 0px 4px 8px 0px rgba(194, 201, 252, 0.15);

        ion-card-header {
            ion-card-title {
                h2 {
                    margin: 0;
                    font-size: var(--FS22);
                    font-weight: 700;
                }
                p {
                    margin: 5px 0 0;
                    font-size: var(--FS14);
                    font-weight: 400;
                }
            }
        }
    }

    ion-list {
        ion-item {
            app-cached-image {
                height: 55px;
                width: 55px;
            }
        }
    }

    section.accesos-directos {
        display: flex;
        gap: 10px;
        margin-inline: 16px;

        ion-button {
            width: 100%;
            height: 150px;
            --border-radius: 8px;
            --padding-bottom: 11px;
            --padding-end: 11px;
            --padding-start: 11px;
            --padding-top: 11px;
            --box-shadow: none;
            margin: 0;

            .btn-inner {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                text-align: left;
                position: relative;
                justify-content: space-between;
                text-transform: none;

                .rounded {
                    flex: 0 0 24px;
                    padding: 8px;
                    margin: 0 0 5px;
                }

                .launch {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 18px;
                }

                ion-label {
                    color: var(--ion-text-color);
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    h2 {
                        font-size: var(--FS20);
                        font-weight: 700;
                        white-space: nowrap;
                    }
                    p {
                        font-size: var(--FS14);
                    }
                    i {
                        font-size: 12px;
                        font-style: normal;
                        line-height: 14px;
                        padding: 7px 3px;
                        background: #1d78bf;
                        color: #fff;
                        border-radius: 50%;
                        width: 27px;
                        height: 27px;
                        text-align: center;
                    }
                }

                ion-progress-bar {
                    //--background: var(--ion-color-2-primary);
                    height: 6px;
                }

                .evaluaciones {
                    height: 6px;
                    display: flex;
                    gap: 2px;

                    div {
                        flex: 1;
                        background-color: var(--ion-color-7-primary);
                        border-radius: 3px;

                        &.mark {
                            background-color: var(--ion-color-7-foreground);
                        }
                    }
                }
            }

            &.color-1 {
                --background: var(--ion-color-2-background);
                --background-activated: var(--ion-color-2-background);

                ion-icon {
                    &.rounded {
                        background-color: var(--ion-color-2-primary);
                    }
                    &.launch {
                        color: var(--ion-color-2-foreground);
                    }
                }

                ion-progress-bar {
                    --background: var(--ion-color-2-primary);
                    --progress-background: var(--ion-color-2-foreground);
                }
            }
            &.color-2 {
                --background: var(--ion-color-7-background);
                --background-activated: var(--ion-color-7-background);

                ion-icon {
                    &.rounded {
                        background-color: var(--ion-color-7-primary);
                    }
                    &.launch {
                        color: var(--ion-color-7-foreground);
                    }
                }

                ion-progress-bar {
                    --background: var(--ion-color-7-primary);
                    --progress-background: var(--ion-color-7-foreground);
                }
            }
        }
    }

    section.agenda {
        // margin: 0 10px 10px;
        box-shadow: var(--ion-box-shadow);

        .section-header {
            padding-left: 20px;
        }
        .section-content {
            margin-inline: 15px;

            .fecha {
                margin: 10px 10px 0;
                background: var(--ion-color-1-background);
                border-radius: 7px;
                padding: 5px 10px;
                position: relative;

                h3 {
                    margin: 0 0 3px;
                    color: var(--ion-color-1-foreground);
                    font-size: 12px;
                }

                h2 {
                    margin: 0;
                    color: var(--ion-text-color);
                    font-size: 18px;
                    font-weight: 500;
                }

                ion-icon {
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    font-size: 20px;
                    color: var(--ion-color-1-foreground);
                }
            }

            .cargando {
                text-align: center;
                padding: 15px;

                span {
                    display: block;
                    line-height: 32px;
                    font-size: var(--FS14);
                }
            }

            ion-item {
                ion-label {
                    margin: 10px 0;

                    p.estado-actividad {
                        padding: 2px 6px;
                        margin-top: 0;
                        margin-bottom: 10px;
                        font-size: var(--FS11) !important;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

ion-card.notificacion {
    margin: 12px 12px 0;

    ion-card-content {
        display: flex;
        align-items: center;
        padding: 12px !important;
        font-size: var(--FS14);
        justify-content: space-between;

        ion-icon {
            margin: 0 0 0 5px;
        }
    }
}
