ion-content {
  .disclaimer {
    .section-content {
      padding: 12px 15px;
      font-size: var(--FS15);
      gap: 10px;
      display: flex;
      
      ion-icon {
        background: #C8DCE9;
        color: #040B15;
        padding: 6px;
        border-radius: 50%;
        font-size: 18px;
        flex: 0 0 18px;
      }
    }
  }
  .bienvenida {
    margin-inline: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .section-header {
      padding-left: 10px;
    }

    ion-button {
      width: 100%;
      height: 120px;
      --border-radius: 8px;
      --padding-bottom: 11px;
      --padding-end: 11px;
      --padding-start: 11px;
      --padding-top: 11px;
      --box-shadow: none;
      margin: 0;

      .btn-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        text-align: left;
        position: relative;
        justify-content: space-evenly;
        text-transform: none;

        .launch {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 18px;
        }

        .title {
          display: flex;
          align-items: center;

          .rounded {
            flex: 0 0 24px;
            padding: 10px;
            margin: 0 15px 5px 0;
          }

          ion-label {
            color: var(--ion-text-color);
            font-size: var(--FS16);
            font-weight: 700;
          }
        }

        .desc {
          color: var(--ion-text-color);
          font-size: var(--FS16);
          line-height: 20px;
          font-weight: 400;
        }
      }

      &.color-1 {
        --background: var(--ion-color-1-background);
        --background-activated: var(--ion-color-1-background);

        ion-icon {
          &.rounded {
            background-color: var(--ion-color-1-primary);
          }
          &.launch {
            color: var(--ion-color-1-foreground);
          }
        }
      }
      &.color-2 {
        --background: var(--ion-color-3-background);
        --background-activated: var(--ion-color-3-background);

        ion-icon {
          &.rounded {
            background-color: var(--ion-color-3-primary);
          }
          &.launch {
            color: var(--ion-color-3-foreground);
          }
        }
      }
      &.color-3 {
        --background: var(--ion-color-7-background);
        --background-activated: var(--ion-color-7-background);

        ion-icon {
          &.rounded {
            background-color: var(--ion-color-7-primary);
          }
          &.launch {
            color: var(--ion-color-7-foreground);
          }
        }
      }
    }
  }
}
