<app-header personLink="privado" notificationLink="publico/inicio/notificaciones"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)" color="white">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData) {
  <div class="principal">

    @if (data?.destacado) {
    <div class="destacado">
      <ion-card>
        <ion-card-content>
          <ion-item detail="false" lines="none" class="ion-activatable" routerLink="detalle-destacado">
            <ion-label>
              <h2>{{data.destacado.apdeTtitulo}}</h2>
              <p>{{resolverDestacado(data.destacado.apdeTdesc)}}</p>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/person_edit.svg" color="medium"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
    }

    @if (data?.noticias && data?.noticias.length) {
    <div class="noticias">
      <section class="classic">
        <div class="section-header">Noticias</div>
      </section>
      @for (item of data.noticias.slice(0, 3); track $index) {
      <ion-card>
        <ion-card-content>
          <ion-item detail="false" lines="none" (click)="detalleNoticia(item)" class="ion-activatable">
            <ion-avatar slot="start">
              <ion-spinner name="lines" color="info"></ion-spinner>
              <img [src]="item.imagen" alt="Noticia INACAP" appImage [hideViewer]="true" />
            </ion-avatar>
            <ion-label class="ion-text-nowrap">
              <h2>{{item.titulo}}</h2>
              <p>{{resolverFechaNoticia(item.fecha)}}</p>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
      }
    </div>
    }

  </div>
  }

  @if (mostrarError) {
  <ion-card>
    <ion-card-content>
      <div class="no-internet">
        <ion-icon src="assets/icon/report_problem.svg"></ion-icon>
        <p class="title">Se produjo un error</p>
        <p class="legend">INACAP no está disponible en este momento. Compruebe su conexión y vuelva a intentarlo.</p>
        <ion-button color="info" shape="round" (click)="mostrarCargando = true; cargar()">
          Volver a cargar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  }

</ion-content>