.card-list {
  margin: 10px;

  ion-item {
    --padding-start: 15px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    ion-icon.rounded {
      padding: 10px;
      font-size: 32px;
      margin: 0 11px 0 0;
    }

    ion-label {
      margin: 0;

      h2 {
        font-size: var(--FS16);
      }
      p {
        font-size: var(--FS14);
        color: var(--ion-color-step-700);
      }
    }
  }
}


section.instrucciones {
  ul {
    padding-left: 20px;
  }
}