.card-list {
  margin: 10px;

  ion-item {
    --padding-start: 15px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    ion-icon.rounded {
      padding: 10px;
      font-size: 32px;
      margin: 0 11px 0 0;
    }

    ion-label {
      margin: 0;

      h2 {
        font-size: var(--FS16);
      }
      p {
        font-size: var(--FS14);
        color: var(--ion-color-step-700);
      }
    }
  }
}

section.instrucciones {
  ul {
    padding-left: 20px;
  }
}

.mdl-detalle {
  .header {
    display: flex;
    justify-content: end;
    padding: 15px 15px 0 15px;

    .btn-cerrar {
      --padding-start: 10px;
      --padding-end: 10px;

      ion-icon {
        color: var(--ion-color-medium);
        font-size: 32px;
      }
    }
  }
  .content {
    .icono {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      ion-icon {
        font-size: 100px;
        color: var(--ion-color-success);
      }
    }

    .titulo {
      text-align: center;
    }
  }
}
