section.image {
  height: 150px;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .title {
    position: absolute;
    left: 50px;
    right: 50px;
    color: white;
    text-shadow: #000 1px 0 10px;
    top: 65px;
    font-size: var(--FS16);
    margin: 0;
    text-align: center;
  }
}
section.social-media {
  .section-content {
    background-color: transparent;
    box-shadow: none;
    margin-inline: 10px;

    ion-row {
      ion-col {
        ion-button {
          width: 100%;
          height: 90px;
          --color: var(--color);

          &.facebook {
            --background: var(--ion-color-1-background);
            --background-activated: var(--ion-color-1-background);

            ion-icon {
              &.rounded {
                background-color: var(--ion-color-1-primary);
              }
              &.launch {
                color: var(--ion-color-1-foreground);
              }
            }
          }
          &.instagram {
            --background: var(--ion-color-2-background);
            --background-activated: var(--ion-color-2-background);

            ion-icon {
              &.rounded {
                background-color: var(--ion-color-2-primary);
              }
              &.launch {
                color: var(--ion-color-2-foreground);
              }
            }
          }
          &.x {
            --background: var(--ion-color-3-background);
            --background-activated: var(--ion-color-3-background);

            ion-icon {
              &.rounded {
                background-color: var(--ion-color-3-primary);
              }
              &.launch {
                color: var(--ion-color-3-foreground);
              }
            }
          }
          &.youtube {
            --background: var(--ion-color-4-background);
            --background-activated: var(--ion-color-4-background);

            ion-icon {
              &.rounded {
                background-color: var(--ion-color-4-primary);
              }
              &.launch {
                color: var(--ion-color-4-foreground);
              }
            }
          }
          &.linkedin {
            --background: var(--ion-color-5-background);
            --background-activated: var(--ion-color-5-background);

            ion-icon {
              &.rounded {
                background-color: var(--ion-color-5-primary);
              }
              &.launch {
                color: var(--ion-color-5-foreground);
              }
            }
          }
          &.tiktok {
            --background: var(--ion-color-6-background);
            --background-activated: var(--ion-color-6-background);

            ion-icon {
              &.rounded {
                background-color: var(--ion-color-6-primary);
              }
              &.launch {
                color: var(--ion-color-6-foreground);
              }
            }
          }

          .btn-inner {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: left;
            position: relative;

            .rounded {
              padding: 10px;
              margin: 0 0 10px;
            }

            .launch {
              position: absolute;
              right: 0;
              top: 0;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
