<app-header></app-header>

<ion-content>

  <section class="image">
    <img src="assets/images/publico/servicios-publico.jpg" />
    <h4 class="title">Más</h4>
  </section>

  <ion-list inset="true">

    @if (data && data.saldoBipPublico) {
    <ion-item detail="false" routerLink="consulta-bip">
      <ion-icon slot="start" src="assets/icon/payments.svg"></ion-icon>
      <ion-label>Consulta bip!</ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    }
    @else if(!data) {
    <ion-item detail="false" routerLink="consulta-bip">
      <ion-skeleton-text animated style="width: 25px;height: 20px;margin-right: 15px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;height: 15px;"></ion-skeleton-text>
    </ion-item>
    }
    <ion-item detail="false" routerLink="informacion">
      <ion-icon slot="start" src="assets/icon/phone_iphone.svg"></ion-icon>
      <ion-label>Información de Versión</ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    @if (data && data.urlServiciosTecnologicos) {
    <ion-item detail="false" class="ion-activatable" (click)="openUrl(data.urlServiciosTecnologicos)">
      <ion-icon slot="start" src="assets/icon/display_settings.svg"></ion-icon>
      <ion-label>Servicios Tecnológicos</ion-label>
      <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
    </ion-item>
    }
    @else if(!data) {
    <ion-item detail="false" routerLink="consulta-bip">
      <ion-skeleton-text animated style="width: 25px;height: 20px;margin-right: 15px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;height: 15px;"></ion-skeleton-text>
    </ion-item>
    }
  </ion-list>

  <ion-list inset="true">
    <ion-item detail="false" routerLink="verificacion-documentos">
      <ion-icon slot="start" src="assets/icon/verified.svg" class="rounded"></ion-icon>
      <ion-label>
        <h2>Validación de Certificados</h2>
        <p>Aquí podrá validar los Certificados y Diplomas de Título emitidos por INACAP.</p>
      </ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
  </ion-list>

  @if (mostrarData) {
  <section>
    <div class="section-header">Información de Contacto</div>
    <div class="section-content">
      <ion-list>
        <ion-item class="ion-activatable" detail="false" (click)="abrirNavegador('urlPortal')">
          <ion-icon slot="start" src="assets/icon/laptop.svg"></ion-icon>
          <ion-label>{{data.urlPortal}}</ion-label>
          <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
        </ion-item>
        <ion-item class="ion-activatable" detail="false" href="tel:{{data.telContacto}}">
          <ion-icon slot="start" src="assets/icon/phone.svg"></ion-icon>
          <ion-label>{{data.telContacto}}</ion-label>
          <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
        </ion-item>
        <ion-item class="ion-activatable" detail="false" href="mailto:{{data.emailContacto}}">
          <ion-icon slot="start" src="assets/icon/email.svg"></ion-icon>
          <ion-label>{{data.emailContacto}}</ion-label>
          <ion-icon slot="end" src="assets/icon/launch.svg"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </section>

  <section class="social-media">
    <div class="section-header">Nuestras Redes Sociales</div>
    <div class="section-content">
      <ion-row>
        <ion-col size="6">
          <ion-button class="facebook" (click)="abrirNavegador('urlFacebook')">
            <div class="btn-inner">
              <ion-icon src="assets/icon/facebook.svg" class="rounded"></ion-icon>
              <ion-label>Facebook</ion-label>
              <ion-icon src="assets/icon/launch.svg" class="launch"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="instagram" (click)="abrirNavegador('urlInstagram')">
            <div class="btn-inner">
              <ion-icon src="assets/icon/instagram.svg" class="rounded"></ion-icon>
              <ion-label>Instagram</ion-label>
              <ion-icon src="assets/icon/launch.svg" class="launch"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="x" (click)="abrirNavegador('urlTwitter')">
            <div class="btn-inner">
              <ion-icon src="assets/icon/x.svg" class="rounded"></ion-icon>
              <ion-label>X (Ex Twitter)</ion-label>
              <ion-icon src="assets/icon/launch.svg" class="launch"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="youtube" (click)="abrirNavegador('urlYoutube')">
            <div class="btn-inner">
              <ion-icon src="assets/icon/youtube.svg" class="rounded"></ion-icon>
              <ion-label>Youtube</ion-label>
              <ion-icon src="assets/icon/launch.svg" class="launch"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="linkedin" (click)="abrirNavegador('urlLinkedin')">
            <div class="btn-inner">
              <ion-icon src="assets/icon/linkedin.svg" class="rounded"></ion-icon>
              <ion-label>Linkedin</ion-label>
              <ion-icon src="assets/icon/launch.svg" class="launch"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="tiktok" (click)="openUrl('https://www.tiktok.com/@inacap_oficial')">
            <div class="btn-inner">
              <ion-icon src="assets/icon/tiktok.svg" class="rounded"></ion-icon>
              <ion-label>TikTok</ion-label>
              <ion-icon src="assets/icon/launch.svg" class="launch"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </section>
  }

</ion-content>