// @import "src/theme/formulario.scss";

section {
    ion-list {
        ion-item {
            --padding-start: 15px !important;
        }
    }
    &.thumbnail-section {
        margin-bottom: 15px;

        .section-content {
            margin-bottom: 0;
            ion-button.eliminarFoto {
                border-top: 1px solid #ccc;
                --box-shadow: none !important;
            }

            ion-thumbnail {
                --size: 48px;
                --border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &.section-enviar {
        margin: 15px;
    }
}

::ng-deep .dark {
    ion-button.eliminarFoto {
        border-color: var(--ion-color-dark-tint) !important;
    }
}
