<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Opinión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="opinionForm" (ngSubmit)="enviar()">
    <section>
      <div class="section-content">
        <ion-list>
          <ion-item>
            <ion-select label="Tipo de Opinión (*)" labelPlacement="stacked" name="clasificacion" interface="alert"
              placeholder="Seleccione" formControlName="clopCcod" okText="Aceptar" cancelText="Cancelar">
              <ion-select-option [value]="item.clopCcod" *ngFor="let item of clasificaciones">
                {{item.clopTdesc}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          @if (submitAttempt && clopCcod?.invalid) {
          <div class="invalid">Campo obligatorio.</div>
          }
          <ion-item>
            <ion-select label="Categoría (*)" labelPlacement="stacked" name="topico" interface="alert"
              placeholder="Seleccione" formControlName="ticoCcod" (ionChange)="getSubcategorias(ticoCcod?.value)"
              okText="Aceptar" cancelText="Cancelar">
              <ion-select-option [value]="item.ticoCcod" *ngFor="let item of topicos">
                {{item.ticoTdesc}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          @if (submitAttempt && ticoCcod?.invalid) {
          <div class="invalid">Campo obligatorio.</div>
          }
          <ion-item>
            <ion-select label="Subcategoría (*)" labelPlacement="stacked" name="tema" interface="alert"
              placeholder="Seleccione" formControlName="coopCcod" okText="Aceptar" cancelText="Cancelar">
              <ion-select-option [value]="item.coopCcod" *ngFor="let item of temas">
                {{item.coopTdesc}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          @if (submitAttempt && coopCcod?.invalid) {
          <div class="invalid">Campo obligatorio.</div>
          }
          <ion-item>
            <ion-textarea label="Opinión (*)" labelPlacement="stacked" name="mensaje" rows="5"
              formControlName="resoTsugerencia" [counter]="true" maxlength="2000"
              placeholder="Ingresa tu opinión"></ion-textarea>
          </ion-item>
          @if (submitAttempt && mensaje?.invalid) {
          <div class="invalid">
            <span *ngIf="mensaje?.hasError('required')">Campo obligatorio.</span>
            <span *ngIf="mensaje?.hasError('pattern')">Sólo puede ingresar caracteres alfanuméricos.</span>
            <span *ngIf="mensaje?.hasError('maxlength')">Máximo 2000 caracteres.</span>
          </div>
          }
        </ion-list>
      </div>
    </section>
    <section class="thumbnail-section">
      <div class="section-header">Adjuntar Documentos</div>
      <div class="section-content">
        <ion-list *ngIf="solicitudId == 0">
          <ion-item class="has-icon normal" (click)="adjuntarArchivo(archivoInput)">
            <ion-icon slot="start" src="assets/icon/add_a_photo.svg" color="medium"></ion-icon>
            <ion-label>Adjuntar foto o documento</ion-label>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="solicitudId > 0">
          <ion-item class="has-icon normal" (click)="descargarArchivo()">

            @if (isImage(nombreDocumento)) {
            <ion-thumbnail slot="start">
              <ion-spinner name="lines" color="primary"></ion-spinner>
              <img [src]="resolverMiniatura()" appImage [hideViewer]="true" />
            </ion-thumbnail>
            }
            @else {
            <ion-icon [src]="resolverIcono(nombreDocumento)" slot="start" color="medium"></ion-icon>
            }


            <ion-label>{{nombreDocumento}}</ion-label>
            <ion-button fill="outline" slot="end" size="small" color="danger"
              (click)="eliminarArchivo($event, true)">Eliminar</ion-button>
          </ion-item>
        </ion-list>
      </div>
    </section>
    <section class="section-enviar">
      <ion-button color="primary" shape="round" expand="block" type="submit">Enviar</ion-button>
    </section>
  </form>

  <input type="file" #archivoInput style="display: none;" (change)="adjuntarArchivoWeb($event)"
    accept="application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain,image/*" />


</ion-content>