<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Inicio" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card class="primary-card" color="white">
    <ion-card-header>
      <ion-card-title>OneDrive</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="mostrarData && items">

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="crearCarpetaTap()">
          <ion-icon name="folder-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="agregarArchivoTap(adjuntosInput)">
          <ion-icon name="document-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-list inset="true">
      <ion-item *ngFor="let item of items" [detail]="false" (click)="itemTap(item)" class="ion-activatable">
        @if (item.folder) {
        <ion-icon src="assets/icon/folder.svg" slot="start" color="medium" *ngIf="item.folder"></ion-icon>
        }
        @else if (isImage(item.name)) {
        <ion-thumbnail slot="start">
          <ion-spinner name="lines" color="primary"></ion-spinner>
          <img [src]="resolverMiniatura(item.id)" appImage [hideViewer]="true" />
        </ion-thumbnail>
        }
        @else {
        <ion-icon [src]="resolverIcono(item.name)" slot="start" color="medium"></ion-icon>
        }

        <ion-label class="ion-text-nowrap">
          <h2>{{item.name}}</h2>
          <p>{{item.size|formatBytes}}</p>
        </ion-label>
        <ion-icon slot="end" src="assets/icon/more_horiz.svg" color="medium"
          (click)="optionsTap(item, $event)"></ion-icon>
      </ion-item>
    </ion-list>

  </ng-container>

  <section *ngIf="mostrarData && !items" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="info" shape="round" (click)="recargar(true)">Recargar</ion-button>
    </div>
  </section>

  <input type="file" #adjuntosInput style="display: none;" (change)="adjuntar($event)"
    accept="application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain,image/*" />

</ion-content>