<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Curso" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card color="white" class="primary-card">
    <ion-card-header>
      <ion-card-title>
        <h2>Asistencia</h2>
        <p>{{asignatura}}</p>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && asistencia) {

  @if (asistencia.length) {
  <ion-accordion-group #acordeones expand="inset">
    @for (item of asistencia; track $index) {
    <ion-accordion [value]="item.mes">
      <ion-item slot="header">
        <ion-label>{{item.mes}}</ion-label>
        <p class="estado-actividad info" slot="end">{{item.resumen}}</p>
      </ion-item>
      <div slot="content">
        @for (item of item.detalle; track $index) {
        <ion-item>
          <ion-label>
            <p>{{item.fecha}}</p>
          </ion-label>
          @if (item.title == 'Presente') {
          <p class="estado-actividad success" slot="end">Presente</p>
          }
          @else if (item.title=='Ausente') {
          <p class="estado-actividad danger" slot="end">Ausente</p>
          }
          @else {
          <p class="estado-actividad" slot="end">Sin Registro</p>
          }
        </ion-item>
        }
      </div>
    </ion-accordion>
    }
  </ion-accordion-group>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Sin registros en este momento.</p>
    </div>
  </section>
  }

  }

  @if (mostrarData && !asistencia) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }

</ion-content>

@if (mostrarData && detalleAsistencia) {
<ion-footer>
  <div>
    <span>
      Clases Programadas
      <strong>{{detalleAsistencia.hrsrealasig}}</strong>
    </span>
    <span>
      Clases Asistidas
      <strong>{{detalleAsistencia.hrsasisasig}}</strong>
    </span>
  </div>
</ion-footer>
}