<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Curso" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card color="white" class="primary-card">
    <ion-card-header>
      <ion-card-title>
        <h2>Asistencia</h2>
        <p>{{asignatura}}</p>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData) {
  @if (mostrarAutoAsistencia) {
  <div class="tabs">
    <ion-segment [(ngModel)]="tabModel" color="primary" mode="ios">
      <ion-segment-button [value]="0">
        <ion-label>Asistencia</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1">
        <ion-label>Auto Asistencia</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  @if (tabModel == 0) {
  @if (asistencia) {
  @if (asistencia.length) {
  <ion-accordion-group #acordeones expand="inset">
    @for (item of asistencia; track $index) {
    <ion-accordion [value]="item.mes">
      <ion-item slot="header">
        <ion-label>{{item.mes}}</ion-label>
        <p class="estado-actividad info" slot="end">{{item.resumen}}</p>
      </ion-item>
      <div slot="content">
        @for (item of item.detalle; track $index) {
        <ion-item>
          <ion-label>
            <p>{{resolverFecha(item.fecha)}}</p>
          </ion-label>
          @if (item.title == 'Presente') {
          <p class="estado-actividad success" slot="end">Presente</p>
          }
          @else if (item.title=='Ausente') {
          <p class="estado-actividad danger" slot="end">Ausente</p>
          }
          @else {
          <p class="estado-actividad" slot="end">Sin Registro</p>
          }
        </ion-item>
        }
      </div>
    </ion-accordion>
    }
  </ion-accordion-group>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Sin registros en este momento.</p>
    </div>
  </section>
  }
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }
  }
  @if (tabModel == 1) {
  @if (asistenciaCC?.length) {
  <ion-list inset="true" class="auto-asistencia">
    @for (item of asistenciaCC; track $index) {
    <ion-item>
      <ion-label>{{resolverFecha(item.apcvFmodulo)}}</ion-label>
      @if (item.apesNasistencia == 1) {
      <p class="estado-actividad success" slot="end">Presente</p>
      }
      @else if (item.apesNasistencia == 2) {
      <p class="estado-actividad danger" slot="end">Ausente</p>
      }
      @else if (item.apesNasistencia == 0 && esHoy(item.apcvFmodulo)) {
      <ion-button slot="end" size="small" color="primary" fill="outline" (click)="registrarAsistencia(item)">
        Registrar Asistencia
      </ion-button>
      }
    </ion-item>
    }
  </ion-list>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Sin registros en este momento.</p>
    </div>
  </section>
  }
  }

  }
  @else {

  @if (asistencia) {

  @if (asistencia.length) {
  <ion-accordion-group #acordeones expand="inset">
    @for (item of asistencia; track $index) {
    <ion-accordion [value]="item.mes">
      <ion-item slot="header">
        <ion-label>{{item.mes}}</ion-label>
        <p class="estado-actividad info" slot="end">{{item.resumen}}</p>
      </ion-item>
      <div slot="content">
        @for (item of item.detalle; track $index) {
        <ion-item>
          <ion-label>
            <p>{{resolverFecha(item.fecha)}}</p>
          </ion-label>
          @if (item.title == 'Presente') {
          <p class="estado-actividad success" slot="end">Presente</p>
          }
          @else if (item.title=='Ausente') {
          <p class="estado-actividad danger" slot="end">Ausente</p>
          }
          @else {
          <p class="estado-actividad" slot="end">Sin Registro</p>
          }
        </ion-item>
        }
      </div>
    </ion-accordion>
    }
  </ion-accordion-group>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Sin registros en este momento.</p>
    </div>
  </section>
  }

  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }

  }
  }

</ion-content>

@if (mostrarData && detalleAsistencia) {
<ion-footer>
  <div>
    <span>
      Clases Programadas
      <strong>{{detalleAsistencia.hrsrealasig}}</strong>
    </span>
    <span>
      Clases Asistidas
      <strong>{{detalleAsistencia.hrsasisasig}}</strong>
    </span>
  </div>
</ion-footer>
}