<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Servicios" defaultHref="/dashboard-alumno/servicios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/person_pin.svg" class="rounded variant-3"></ion-icon>
      <ion-label>
        <h2>Mis Docentes</h2>
        <p>Conoce a tus Docentes y Ayudantes que tendrás durante este período.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && docentes) {
  @for (item of docentes; track item[0]) {
  <section>
    <div class="section-header">{{resolverCarrera(item[0])}}</div>
    <div class="section-content">
      <ion-list>
        @for (item of item[1]; track $index) {
        <ion-item>
          <app-cached-image slot="start" [src]="resolverFoto(item.persNcorr)"></app-cached-image>
          <ion-label>
            <h2>{{item.persTnombre}}</h2>
            <p [innerHTML]="item.asignaturasImpartidas"></p>
          </ion-label>
          <ion-icon slot="end" color="medium" (click)="correo(item.email)" src="assets/icon/email.svg"></ion-icon>
        </ion-item>
        }
      </ion-list>
    </div>
  </section>
  }
  @if (docentes.length == 0) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/group.svg"></ion-icon>
      <p>Sin registros en este momento</p>
    </div>
  </section>
  }
  }

  <!-- <ng-container *ngIf="mostrarData">
    
    <section *ngIf="docentes && docentes.length > 0">
      <div class="section-content">
        <ion-list>
          <ion-item *ngFor="let item of docentes">
            <app-cached-image slot="start" [src]="resolverFoto(item.persNcorr)"></app-cached-image>
            <ion-label style="white-space: normal">
              <h2>{{item.persTnombre}}</h2>
              <p [innerHTML]="item.asignaturasImpartidas"></p>
            </ion-label>
            <ion-icon slot="end" color="medium" (click)="correo(item.email)" src="assets/icon/email.svg"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </section>

    <section *ngIf="docentes && docentes.length == 0" class="empty-state">
      <div>
        <ion-icon src="assets/icon/group.svg"></ion-icon>
        <p>Sin registros en este momento</p>
      </div>
    </section>
    
  </ng-container>

  <section *ngIf="mostrarData && !docentes" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section> -->

</ion-content>