<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="terminos">
    <p>Al instalar la aplicación, usted acepta estos términos y condiciones descritas en esta sección.</p>
    <p><strong>DEFINICIONES</strong></p>
    <p>“Aplicación” hace referencia al software desarrollado y proporcionado por INACAP para entregar información
      pública de la Institución y entregar servicios a los alumnos y colaboradores docentes. La Aplicación puede ser
      utilizada en dispositivos IOS de Apple y Android.</p>
    <p>“Términos de Uso” hace referencia a las condiciones de uso relacionado con la utilización de la Aplicación
      INACAP.</p>
    <p><strong>PROTECCIÓN DE DATOS</strong></p>
    <p>Toda la información personal que utiliza la Aplicación INACAP se rige de acuerdo a las políticas de Privacidad,
      que puede ser consultada en <a (click)="politicas()">https://portales.inacap.cl/politicas-de-privacidad</a>.
    </p>
    <p><strong>DERECHOS DE PROPIEDAD INTELECTUAL Y LICENCIA</strong></p>
    <p>Las marcas registradas y los derechos de propiedad le pertenecen a Universidad Tecnológica de Chile INACAP.
      INACAP otorga licencia de uso, no exclusiva y revocable para utilizar la aplicación para su uso personal, de
      acuerdo a estos términos.</p>
    <p><strong>CONDICIONES DE USO</strong></p>
    <p>Solo INACAP desarrollará y realizará la distribución de la Aplicación. Por lo tanto, no habrá ningún tercero
      autorizado a distribuir, copiar, modificar, alterar, realizar ingeniería inversa, descompile o transfiera la
      aplicación.</p>
    <p>La aplicación se encuentra disponible en las tiendas de Apps Store y Google Play de manera gratuita. No está
      autorizado el uso comercial.</p>
    <p>INACAP se reserva el derecho a modificar o retirar la aplicación, la información de la aplicación o los servicios
      entregados a través de ella. Esto lo puede realizar en cualquier momento y sin previo aviso.</p>
    <p>Usted acepta que el uso de esta aplicación y sus servicios le pueden generar cobros por acceso a los servicios de
      conexión de red de su proveedor móvil o terceros. Por lo tanto, usted acepta la responsabilidad por cualquier
      cargo que pueda surgir. Si usted no es el dueño del móvil o no es el pagador de la cuenta, INACAP asumirá que
      tiene los permisos del responsable del pago de la cuenta del uso de la red de datos.</p>
    <p><strong>DISPONIBILIDAD</strong></p>
    <p>Esta aplicación está disponible para el uso en dispositivos móviles con sistemas operativos IOS y Android. INACAP
      no se hace responsable por problemas de disponibilidad que surjan por las redes móviles o internet o por un mal
      uso de la aplicación.</p>
    <p>INACAP no se hace responsable alguna por la falta de disponibilidad de la aplicación, cualquier problema para
      descargar contenidos, problemas de conexión con los servicios entregados por la Aplicación o cualquier falla de
      comunicación que pueda provocar falta de disponibilidad de la Aplicación.</p>
    <p>Dependiendo las necesidades de INACAP, la Aplicación podrá ser actualizada para hacer ajustes en las
      funcionalidades, los contenidos y/o servicios disponibles.</p>
    <p><strong>REQUISITOS DEL SISTEMA</strong></p>
    <ul style="list-style-type: disc; margin-bottom: 10px;">
      <li>Tener acceso a Internet o redes de datos móviles</li>
      <li>Dispositivos móviles de Apple con la versión del sistema operativo IOS 7 o superior.</li>
      <li>Dispositivos con Android con la versión de sistema operativo 5.1 o superior.</li>
    </ul>
    <p><strong>LIMITACIÓN DE LA RESPONSABILIDAD</strong></p>
    <p>INACAP no será responsable por la pérdida de funcionalidad, daño directo o indirecto por el uso o acceso a la aplicación.</p>
  </div>
</ion-content>
