<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Servicios" defaultHref="/dashboard-alumno/servicios"></ion-back-button>
    </ion-buttons>
    <ion-title>DAE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/account_balance.svg" class="rounded variant-2"></ion-icon>
      <ion-label>
        <h2>DAE</h2>
        <p>Información sobre la Dirección Asuntos Estudiantiles en sede.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && data) {

  <section class="horario-atencion">
    <div class="section-header">Horario de Atención</div>
    <div class="section-content">
      @for (item of data.horario.items; track $index) {
      @if (item.dahoNvisibleDia) {
      <ion-card>
        <ion-card-content>
          <h2>{{item.diasTdesc}}</h2>
          <span>{{item.dahoThorario}}</span>
        </ion-card-content>
      </ion-card>
      }
      }
    </div>
  </section>

  }

  <ion-list inset="true">
    <ion-item detail="false" routerLink="actividades-extracurriculares" class="ion-activatable">
      <ion-icon slot="start" src="assets/icon/hiking.svg"></ion-icon>
      <ion-label>Actividades Extracurriculares</ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    <ion-item detail="false" routerLink="sede" class="ion-activatable">
      <ion-icon slot="start" src="assets/icon/business.svg"></ion-icon>
      <ion-label>Información de Sede</ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    <ion-item detail="false" routerLink="buzon-opinion" class="ion-activatable">
      <ion-icon slot="start" src="assets/icon/add_comment.svg"></ion-icon>
      <ion-label>Buzón de Opiniones</ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    <ion-item detail="false" routerLink="equipo" class="ion-activatable">
      <ion-icon slot="start" src="assets/icon/groups.svg"></ion-icon>
      <ion-label>Equipo DAE</ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    <ion-item detail="false" routerLink="delegados" class="ion-activatable">
      <ion-icon slot="start" src="assets/icon/how_to_vote.svg"></ion-icon>
      <ion-label>Nómina de Delegados</ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    <ion-item detail="false" routerLink="seguro-accidentes" class="ion-activatable">
      <ion-icon slot="start" src="assets/icon/healing.svg"></ion-icon>
      <ion-label>Seguro de Accidentes</ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>