<app-header personLink="privado"></app-header>

<ion-content>

  <section class="image">
    <img src="assets/images/publico/programas-publico.jpg" />
    <h4 class="title">Programas de Estudio</h4>
  </section>

  <div class="tabs">
    <ion-segment [(ngModel)]="tabsModel" [swipeGesture]="false" (ionChange)="segmentChanged($event)" mode="ios">
      <ion-segment-button [value]="0" content-id="educacion-superior">
        <ion-label>Ed. Superior</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1" content-id="educacion-continua">
        <ion-label>Ed. Continua</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-content>