<app-header personLink="privado" notificationLink="publico/programas/notificaciones"></app-header>

<ion-content [scrollY]="false">

  <section class="image">
    <img src="assets/images/publico/programas-publico.jpg" />
    <h4 class="title">Programas de Estudio</h4>
  </section>

  <div class="tabs">
    <ion-segment [(ngModel)]="tabsModel" [swipeGesture]="false" (ionChange)="segmentChanged($event)" mode="ios">
      <ion-segment-button [value]="0">
        <ion-label>Ed. Superior</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1">
        <ion-label>Ed. Continua</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="container">
    <section [hidden]="tabsModel == 1">
      <app-educacion-superior></app-educacion-superior>
    </section>
    <section [hidden]="tabsModel == 0">
      <app-educacion-continua></app-educacion-continua>
    </section>
  </div>

  <!-- <div class="tabs">
    <ion-segment [(ngModel)]="tabsModel" [swipeGesture]="false" (ionChange)="segmentChanged($event)" mode="ios">
      <ion-segment-button [value]="0" content-id="educacion-superior">
        <ion-label>Ed. Superior</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1" content-id="educacion-continua">
        <ion-label>Ed. Continua</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-segment-view>
    <ion-segment-content id="educacion-superior">
      <app-educacion-superior></app-educacion-superior>
    </ion-segment-content>
    <ion-segment-content id="educacion-continua">
      <app-educacion-continua></app-educacion-continua>
    </ion-segment-content>
  </ion-segment-view> -->

</ion-content>