<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Servicios" defaultHref="/dashboard-alumno/servicios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/groups.svg" class="rounded variant-3"></ion-icon>
      <ion-label>
        <h2>Director de Carrera</h2>
        <p>Conoce a tu Director de Carrera que tendrás durante este período.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  <ng-container *ngIf="mostrarData && !mostrarError">
    <section class="director-carrera" *ngIf="data">
      <div class="section-content">
        <ion-list>
          <ion-item>
            <app-cached-image slot="start" [src]="resolverFoto(data.persNcorr)"></app-cached-image>
            <ion-label style="white-space: normal">
              <h2>{{data.persTnombre}} {{data.persTapePaterno}}</h2>
              <p>{{sede}}</p>
              <p>{{carrera}}</p>
            </ion-label>
            <ion-icon slot="end" (click)="correo(data.persTemailInacap)" *ngIf="data.persTemailInacap"
              src="assets/icon/email.svg"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </section>
    <section *ngIf="!data" class="empty-state">
      <div>
        <ion-icon src="assets/icon/group.svg"></ion-icon>
        <p>Sin registros en este momento.</p>
      </div>
    </section>
  </ng-container>

  <section *ngIf="mostrarError" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>

</ion-content>