<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Tutor IA" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <section class="agente-container">
    <div class="scroll"></div>
    <div class="input">
      <ion-list>
        <ion-item>
          <ion-textarea fill="solid" placeholder="Escribe un mensaje"></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button>Enviar</ion-button>
    </div>
  </section> -->
  
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message" placeholder="Escribe un mensaje..."></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
