<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Mi Progresión" defaultHref="/dashboard-alumno/portafolio/progresion"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/table_chart.svg" class="rounded variant-3"></ion-icon>
      <ion-label>
        <h2>Malla Curricular</h2>
        @if (carrera) {
        <p>{{carrera.carrTdesc}}</p>
        <p>{{carrera.jornTdesc}}</p>
        }
      </ion-label>
    </ion-item>
  </ion-list>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && niveles) {
  <ion-accordion-group expand="inset" (ionChange)="accordionChange($event)">
    @for (item of niveles; track $index) {
    <ion-accordion [value]="item">
      <ion-item slot="header">
        <ion-label>
          {{item.niveTnombre}}
          <p class="estado-actividad info">{{resolverAprobados(item.malla)}}</p>
        </ion-label>
      </ion-item>
      <div slot="content">
        @for (item of item.malla; track $index) {
        <ion-item>
          <ion-label>
            <p>{{item.asigCcod}}</p>
            <h2>{{item.asigTdesc}}</h2>
            <p>{{item.asigNhoras}} horas</p>
          </ion-label>
          @if (item.nota || (item.situFinal=='course-passed' || item.situFinal=='course-failed')) {
          <p class="estado-actividad {{resolverEstado(item.situFinal)}}" slot="end">{{item.nota || '-,-'}}</p>
          }
          @else if (item.situFinal=='cursando') {
          <p class="estado-actividad" slot="end">Cursando</p>
          }
        </ion-item>
        }
      </div>
    </ion-accordion>
    }
  </ion-accordion-group>
  }

  @if (mostrarData && !niveles) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }

</ion-content>

@if (mostrarData && niveles) {
<ion-footer>
  <div>
    <span>
      Cantidad de horas plan
      <strong>{{totalHorasPlan}}</strong>
    </span>
    <span>
      Cantidad de Asignaturas
      <strong>{{totalAsignaturas}}</strong>
    </span>
  </div>
</ion-footer>
}