ion-header {
    .back-md {
        font-size: 24px;
        margin-right: 4px;
        margin-left: 2px;
    }
    .back-ios {
        font-size: 32px;
        margin-left: -11px;
        margin-right: -4px;
    }
}

::ng-deep ion-header.md {
    .back-ios {
        display: none;
    }
}

::ng-deep ion-header.ios {
    .back-md {
        display: none;
    }
}

ion-avatar {
    height: 64px;
    width: 64px;
    margin: 5px 15px 5px 0;

    div {
        background: var(--ion-color-medium);
        color: #fff;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        font-size: 22px;
        text-align: center;
        line-height: 64px;
    }
}

ion-item {
    --padding-start: 15px;
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

section.attachment-wrap {
    display: flex;
    overflow: auto;
    padding: 0px 5px 0 15px;

    .attachment {
        border: 1px solid #ccc;
        padding: 5px;
        font-size: var(--FS12);
        display: flex;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        max-width: 100px;
        min-width: 100px;
        align-items: center;
        flex-direction: column;

        &.thumbnail {
            padding: 0;
            flex-direction: column;

            img {
                object-fit: cover;
                width: 100%;
                height: 60px;
            }

            .text {
                padding: 5px;
            }
        }

        ion-icon {
            margin-bottom: 10px;
            color: var(--ion-color-medium);
        }

        .text {
            width: 100%;
            overflow: hidden;

            h2 {
                font-size: var(--FS12);
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            p {
                margin: 0px;
            }
        }
    }
}

.section-content {
    overflow: auto;

    .mail-body {
        font-size: var(--FS14);
        padding: 15px;

        ::ng-deep table {
            width: 100% !important;

            td {
                width: auto !important;
            }
        }
    }
}

::ng-deep body.dark {
    ion-content.message-content {
        div:not(.no-format) {
            background-color: #000 !important;
            color: #fff !important;
        }
        table:not(.no-format) {
            background-color: #000 !important;
            border-color: #444 !important;

            td {
                background-color: #000 !important;
                color: #fff !important;
                border-color: #444 !important;
            }
        }
    }
}

ion-content {
    ion-slides {
        flex: 1 1 0%;
        position: relative;
        height: 100%;

        ion-slide {
            display: block;
            overflow-x: auto;

            section {
                text-align: left;
            }
        }
    }
}
