<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Inicio" defaultHref="/dashboard-alumno/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card class="primary-card" color="white">
    <ion-card-header>
      <ion-card-title>Elecciones de Delegados</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  <ng-container *ngIf="mostrarData && (candidatos && candidatos.length)">

    <swiper-container #swiperEl>

      <swiper-slide>
        <section class="bienvenida">
          <div class="section-header">Información previa</div>
          <div class="section-content">
            <span>
              Para las elecciones de Delegados de este año queremos aclarar que: <br /><br />
              - El <b>voto es secreto</b> y personal. <br />
              - En este proceso <b>podrás elegir a un Delegado de tu mismo nivel, carrera y jornada.</b><br />
              - En el voto se desplegarán las distintas candidaturas. <b>Podrás elegir una sola</b>.<br />
              - En caso de que sea un solo candidato(a), aparecerá únicamente ese candidato(a).<br />
              - Además de las opciones para votar por los(as) candidatos(as), <b>existe la posibilidad de votar nulo o blanco.</b><br />
              - Los votos en blanco y nulos, <b>no suman votos</b> para ninguna candidatura.<br />
              - <b>El voto se emitirá al momento de pulsar “ENVIAR VOTO”</b>. Una vez emitido, no podrás modificar tu preferencia.
            </span>
          </div>
        </section>
        <section style="margin-inline: 15px;">
          <ion-button color="primary" shape="round" expand="block"
            (click)="presentarCandidatos()">Continuar</ion-button>
        </section>
      </swiper-slide>
      <swiper-slide>
        <section class="bienvenida">
          <div class="section-header">Candidatos</div>
          <div class="section-content">
            <span>
              Cada estudiante podrá emitir sólo un voto.<br />Los candidatos que se muestran a continuación corresponden
              a tu
              <b>carrera {{academico.carrera}}</b>,
              <b>nivel {{academico.nivel}} y jornada {{academico.jornada}}</b>.
            </span>
          </div>
        </section>

        <ion-list class="candidatos" inset="true">
          <ion-radio-group [(ngModel)]="votoPersona">
            <ion-item *ngFor="let item of candidatos" lines="full">
              <ion-radio [value]="item.persNcorr" labelPlacement="end">
                <div class="candidato">
                  <ion-avatar>
                    <img [src]="resolverFoto(item.persNcorr)" [appImage]="fotoDesconocido" />
                  </ion-avatar>
                  <div class="label">
                    <h2>{{item.nombreAlumno}}</h2>
                    <p>{{item.carrTdesc}}</p>
                  </div>
                </div>
              </ion-radio>
            </ion-item>
            <ion-item lines="full">
              <ion-radio slot="start" value="0" labelPlacement="end">
                <div class="empty">
                  <ion-icon src="assets/icon/block.svg" color="medium"></ion-icon>
                  <h2>Voto en blanco</h2>
                </div>
              </ion-radio>
            </ion-item>
            <ion-item lines="full">
              <ion-radio slot="start" value="-1" labelPlacement="end">
                <div class="empty">
                  <ion-icon src="assets/icon/trip_origin.svg" color="medium"></ion-icon>
                  <h2>Voto nulo</h2>
                </div>
              </ion-radio>
              <!-- <ion-label>Voto nulo</ion-label> -->
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <section style="margin: 15px;">
          <ion-button color="primary" shape="round" expand="block" (click)="votar()" [disabled]="!votoPersona">
            Enviar Voto
          </ion-button>
        </section>
      </swiper-slide>

    </swiper-container>

  </ng-container>

  <section class="empty-state" *ngIf="mostrarData && votoEmitido">
    <div>
      <ion-icon src="assets/icon/group.svg"></ion-icon>
      <p>Tu voto ya fue emitido.</p>
    </div>
    <ion-button style="margin: 30px 0 0;" color="primary" shape="round" expand="block"
      (click)="cerrar()">Cerrar</ion-button>
  </section>

  <section class="empty-state" *ngIf="mostrarData && !votoEmitido && (candidatos && candidatos.length == 0)">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Para tu carrera {{academico.carrera}}, nivel {{academico.nivel}} y jornada {{academico.jornada}}, no hubo
        candidatos inscritos.</p>
    </div>
    <ion-button style="margin: 30px 0 0;" color="primary" shape="round" expand="block"
      (click)="cerrar()">Cerrar</ion-button>
  </section>

  <section class="empty-state" *ngIf="mostrarData && !votoEmitido && !candidatos">
    <div>
      <ion-icon src="assets/icon/group.svg"></ion-icon>
      <p>Información no disponible. Contáctate con tu DAE para más información.</p>
    </div>
    <ion-button style="margin: 50px 0 0;" color="primary" shape="round" expand="block"
      (click)="cerrar()">Cerrar</ion-button>
  </section>

</ion-content>