<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backText" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-card class="primary-card" color="white">
    <ion-card-header>
      <ion-card-title>Reserva de Espacios</ion-card-title>
    </ion-card-header>
    <ion-progress-bar *ngIf="mostrarCargando" type="indeterminate"></ion-progress-bar>
  </ion-card> -->
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/workspaces.svg" class="rounded variant-1"></ion-icon>
      <ion-label>
        <h2>Reserva de Espacios</h2>
        <p>Puedes reservar espacios en todas las sedes de INACAP.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  <ng-container *ngIf="mostrarData && cliente">

    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <section>
      <div class="section-header">Instrucciones</div>
      <div class="section-content">
        <ion-list>
          <ion-item>
            <ion-label>La siguiente sección es para seleccionar y reservar espacios en tu sede, como Salas de Biblioteca
              o cupos en el FabLab y Cowork. Ten en cuenta que no todos los servicios están disponibles para todas las
              sedes.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Para comenzar con la reserva haz click en el botón "Nueva Reserva" y seleccionar todas las
              opciones correspondientes.</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </section>

    <section class="btn-crear">
      <ion-button color="primary" shape="round" expand="block" (click)="crearReserva()" [disabled]="!permiteReservar">
        Nueva Reserva
      </ion-button>
    </section>

    <section class="solicitudes-historicas first" *ngIf="reservas">
      <div class="section-header">Mis Reservas</div>
      @if (reservas.length > 0) {
      <div class="section-content">
        <ion-list>
          @for (item of reservas; track $index) {
          <ion-item detail="false" (click)="detalleReserva(item)" class="ion-activatable">
            <ion-icon slot="start" src="assets/icon/event_available.svg" color="success"></ion-icon>
            <ion-label>
              <h2><b>{{item.provider.name}}</b></h2>
              <p>{{item.category.name}}</p>
              <p>{{resolverFecha(item.start_datetime)}}</p>
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </div>
      }
      @else {
      <section class="empty-state">
        <div>
          <ion-icon class="folder" src="assets/images/folder.svg"></ion-icon>
        </div>
      </section>
      }
    </section>

  </ng-container>

  <section *ngIf="mostrarData && !cliente" class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="info" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>

</ion-content>