<ion-header class="auto-asistencia-header">
  <ion-toolbar>
    <ion-title>AutoAsistencia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auto-asistencia-content">

  <ion-card class="primary-card" color="white">
    <ion-card-header>
      <ion-card-title>Registro de Asistencia</ion-card-title>
    </ion-card-header>
  </ion-card>

  @if (pasos == 0) {
  <section>
    <div class="section-header">Instrucciones</div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-label>1-. Toma una foto clara de tu cédula. Asegúrate de que esté bien ilumina y sin reflejos. El sistema verificará si la cédula es válida y auténtica.</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>2-. Luego activaremos la cámara frontal de tu dispositivo. Mira de frente y mantén una expresión neutral mientras el sistema compara tu rostro con el de la cédula. Si no coincide no podrás continuar.</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>3-. Una vez validado tu rostro, se comprobará que estés dentro del rango permitido y, si es así, se enviará tu ubicación actual al servidor.</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>
  <section class="botones">
    <ion-button shape="round" color="primary" expand="block" fill="outline" (click)="cerrar()">Cancelar</ion-button>
    <ion-button shape="round" color="primary" expand="block" (click)="siguientePaso(1, perfilInput)">Validar
      Cédula</ion-button>
  </section>
  }
  @else if (pasos == 1) {
  <section>
    <div class="section-header">Cédula de Identidad</div>
    <div class="section-content">
      <img [src]="fotoCelula" />
    </div>
  </section>
  <section class="botones">
    <ion-button shape="round" color="primary" expand="block" fill="outline"
      (click)="anteriorPaso(0)">Cancelar</ion-button>
    <ion-button shape="round" color="primary" expand="block" (click)="siguientePaso(2)">Validar Rostro</ion-button>
  </section>
  }
  @else if (pasos == 2) {
  <section class="reconocimiento-facial">
    <div class="section-content">
      <video #video1 playsinline webkit-playsinline></video>
      <canvas #overlay1 style="position: absolute; top: 0;"></canvas>
    </div>
  </section>
  }
  @else if (pasos == 3) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/check_circle.svg" color="success"></ion-icon>
      <p>Auto Asistencia validada correctamente.</p>
      <ion-button color="primary" shape="round" (click)="cerrar(true)">Cerrar</ion-button>
    </div>
  </section>
  }

  <input type="file" #perfilInput style="display: none;" (change)="adjuntarCedula($event)"
    accept="image/jpeg,image/jpg,image/png,image/gif,image/bmp" />

</ion-content>