<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="DAE" defaultHref="/dashboard-alumno/servicios/dae"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/groups.svg" class="rounded variant-4"></ion-icon>
      <ion-label>
        <h2>Equipo DAE {{programa?.sedeTdesc}}</h2>
        <p>Conoce al equipo de Dirección Asuntos Estudiantiles en sede.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  @if (mostrarData && personas) {
  @if (personas.length) {
  <ion-list class="personas" inset="true">
    @for (item of personas; track $index) {
    <ion-item class="ion-activatable" detail="false" (click)="info(item, usuarioModal)">
      <ion-avatar slot="start">
        <ion-spinner name="lines" color="info"></ion-spinner>
        <img [src]="resolverFoto(item.dapeNcorr)" [alt]="item.dapeTnombre" [appImage]="fotoDesconocido"
          [hideViewer]="true" />
      </ion-avatar>
      <ion-label>
        <h2>{{item.dapeTnombre}}</h2>
        <p>{{item.dapeTcargo}}</p>
      </ion-label>
      <ion-icon slot="end" src="assets/icon/arrow_forward.svg"></ion-icon>
    </ion-item>
    }
  </ion-list>
  <ion-modal class="usuario-modal" #usuarioModal [breakpoints]="[0, 0.45]" [initialBreakpoint]="0.45">
    <ng-template>
      <ion-content>
        <ng-container *ngIf="usuario">
          <ion-button class="btn-cerrar" shape="round" color="secondary" fill="clear" size="small"
            (click)="usuarioModal.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <div class="usuario">
            <ion-avatar slot="start">
              <img [src]="resolverFoto(usuario.dapeNcorr)" [appImage]="fotoDesconocido" />
            </ion-avatar>
            <h2>{{usuario.dapeTnombre}}</h2>
            <p>{{usuario.dapeTcargo}}</p>
            <ion-button fill="clear" color="info" (click)="correo(usuario.dapeTemail, usuarioModal)">
              <ion-icon slot="start" src="assets/icon/mail.svg"></ion-icon>
              <ion-label>{{usuario.dapeTemail}}</ion-label>
            </ion-button>
          </div>
        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>
  }
  @else {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/group.svg"></ion-icon>
      <p>La información de esta sección no está disponible aún. Contáctate con tu DAE para más información.</p>
    </div>
  </section>
  }
  }

  @if (mostrarData && !personas) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
    </div>
  </section>
  }

</ion-content>