/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "assets/fonts/fonts.scss";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
// @import "@ionic/angular/css/palettes/dark.system.css";

:root {
  /*Colores */
  --ion-color-primary: #1d78bf;
  --ion-color-primary-rgb: 29, 120, 191;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1a6aa8;
  --ion-color-primary-tint: #3486c5;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #333333;
  --ion-color-white-contrast-rgb: 51, 51, 51;

  /** success **/
  --ion-color-success: #0a7f0f;
  --ion-color-success-rgb: 10, 127, 15;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #09700d;
  --ion-color-success-tint: #238c27;

  --ion-color-warning: #ffa000;
  --ion-color-warning-rgb: 255, 160, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e08d00;
  --ion-color-warning-tint: #ffaa1a;

  --ion-color-danger: #cc0000;
  --ion-color-danger-rgb: 204, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b40000;
  --ion-color-danger-tint: #d11a1a;

  // Variable app
  --color: #040b15;
  --ion-text-color: #040b15;
  --ion-color-dark: #040b15;
  --ion-color-light: #f0f0f0;
  --ion-font-family: "Roboto", "sans-serif" !important;
  --mat-option-label-text-font: "Roboto", "sans-serif";
  --mat-option-label-text-size: var(--FS14);
  --ion-background-color: #fafafa;
  --ion-overlay-background-color: #fff;
  // tabbar
  --ion-tab-bar-background: #ffffff;
  --ion-tab-bar-border-color: #d5d6dd;
  //toolbar
  --ion-toolbar-background: #050508;
  --ion-toolbar-color: #fff;
  --ion-toolbar-border-color: #6c6e80;

  --border: 1px solid #d5d6dd;
  --ion-item-background: #ffffff;
  --ion-border-color: #d5d6dd;
  --inner-border-width: 0px 0px 0.5px 0px;
  --ion-box-shadow: 0px 4px 8px 0px rgba(194, 201, 252, 0.15) // Tamaños letras
    --FS9: 9px;
  --FS10: 10px;
  --FS11: 11px;
  --FS12: 12px;
  --FS13: 13px;
  --FS14: 14px;
  --FS15: 15px;
  --FS16: 16px;
  --FS18: 18px;
  --FS20: 20px;
  --FS22: 22px;
  --FS24: 24px;
  --FS26: 26px;

  --ion-color-step-900: #f2f2f3;
  --ion-color-step-800: #d5d6dd;
  --ion-color-step-700: #828599;
  --ion-color-step-600: #6c6f80;
  --ion-color-step-500: #575866;
  --ion-color-step-400: #41424d;
  --ion-color-step-300: #2b2c33;
  --ion-color-step-200: #16161a;
  --ion-color-step-100: #050508;

  // Listado de colores
  --ion-color-1-primary: #e381ab;
  --ion-color-1-background: #f6d5e3;
  --ion-color-1-foreground: #ce2d71;
  --ion-color-1-shade: #d8bbc8;

  --ion-color-2-primary: #ffb066;
  --ion-color-2-background: #ffe4cc;
  --ion-color-2-foreground: #ff7e06;
  --ion-color-2-shade: #e0c9b4;

  --ion-color-3-primary: #fcc3b5;
  --ion-color-3-background: #feebe6;
  --ion-color-3-foreground: #fa9a84;
  --ion-color-3-shade: #e0cfca;

  --ion-color-4-primary: #f6d001;
  --ion-color-4-background: #fff9db;
  --ion-color-4-foreground: #f6d001;
  --ion-color-4-shade: #e0dbc1;

  --ion-color-5-primary: #ddeb93;
  --ion-color-5-background: #f1f7d4;
  --ion-color-5-foreground: #c1db3a;
  --ion-color-5-shade: #d4d9bb;

  --ion-color-6-primary: #c8dce9;
  --ion-color-6-background: #edf3f8;
  --ion-color-6-foreground: #a0c3d9;
  --ion-color-6-shade: #d1d6da;

  --ion-color-7-primary: #a7b0f1;
  --ion-color-7-background: #dcdff9;
  --ion-color-7-foreground: #717fe8;
  --ion-color-7-shade: #939bd4;
}
body {
  font-family: "Roboto", sans-serif;

  .ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
  }

  ion-header {
    ion-toolbar + .primary-card {
      border-radius: 0 !important;
      margin: 0 0 15px 0 !important;

      ion-card-header > ion-card-title {
        font-size: var(--FS20);
        font-weight: 600;
        margin-top: 0;
      }
    }
  }

  //ion-content {
  .primary-card {
    border-radius: 0 !important;
    margin: 0 0 15px 0 !important;

    ion-card-header {
      flex-direction: column;

      ion-card-title {
        font-size: var(--FS20);
        font-weight: 600;
        margin-top: 0;

        & + ion-card-subtitle {
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
    }
  }
  //}

  ion-button {
    &[fill="outline"] {
      --border-width: 2px;
    }
  }

  ion-modal {
    &.transparent-modal {
      --background: transparent;
      backdrop-filter: blur(10px);

      &::part(content) {
        box-shadow: none !important;
        border-radius: 0px !important;
      }
    }
  }

  .loaderInacap {
    width: 100%;
    display: block;
    padding: 15px 0;
    text-align: center;
  }

  .empty-state {
    padding: 15px;

    div {
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
      ion-icon {
        width: 90px;
        height: 90px;
        font-size: 90px;
        color: #cfcfcf;
      }
      p {
        color: #666666;
        margin-top: 5px;
      }
      ion-icon.folder {
        width: 300px;
        height: 250px;
      }
    }
  }

  ion-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  app-cached-image {
    height: 35px;
    width: 35px;

    ion-spinner {
      height: 100%;
      width: 100%;
    }
  }

  section {
    &:not(.section-main, .section-scroll, .no-margin-top) {
      margin-top: 15px;
    }

    .section-header {
      font-size: var(--FS13);
      color: var(--color);
      padding-top: 0px;
      padding-left: 25px;
      padding-bottom: 3px;
    }
    .section-content {
      margin-bottom: 15px;
      background-color: var(--ion-item-background);
      margin-inline: 15px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: var(--ion-box-shadow);

      ion-list {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border-radius: 8px;

        > ion-item:last-child {
          --inner-border-width: 0 !important;
          --border-width: 0 !important;
        }
      }
    }

    &.margin {
      margin-inline: 15px;
    }
  }

  section + section {
    margin-top: 0;
  }

  avatar-comp {
    background-color: white;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
  }

  ion-list {
    &.list-inset {
      box-shadow: var(--ion-box-shadow);
    }
    &.list-md {
      padding-top: 0;
      padding-bottom: 0;
    }

    ion-item,
    .item {
      font-size: var(--FS14);

      ion-label {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: var(--FS14);

        &.sc-ion-label-md-h,
        &.sc-ion-label-ios-h {
          font-size: var(--FS14);
        }

        h2 {
          font-size: var(--FS14) !important;
          font-weight: 700 !important;
          color: var(--ion-color-step-100);
        }

        p {
          font-size: var(--FS12) !important;
          color: var(--ion-color-step-700);
        }
      }
      ion-icon[slot="start"] {
        font-size: 24px;
      }
      ion-icon + ion-icon {
        margin-left: 5px;
      }
    }

    ion-item + .invalid {
      font-size: var(--FS12);
      color: var(--ion-color-danger);
      margin: 5px 15px;
    }

    &.detalle {
      ion-item {
        ion-label {
          h2 {
            margin-bottom: 0;
            line-height: 18px;

            p.estado-actividad {
              margin-top: 0;
              margin-left: 6px;
            }

            span {
              font-size: var(--FS14);
              color: var(--ion-color-step-700);
              line-height: 18px;
              margin-left: 3px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  ion-icon {
    &.rounded {
      background: #a7b0f1;
      color: #000;
      border-radius: 50%;
      padding: 4px;
      font-size: 24px;
      margin-inline-end: 11px;

      &.variant-1 {
        background: #c8dce9;
      }
      &.variant-2 {
        background: #feeb80;
      }
      &.variant-3 {
        background: #e381ab;
      }
      &.variant-4 {
        background: #a7b0f1;
      }
      &.variant-5 {
        background: #ffb066;
      }
    }
    &[slot="end"] {
      font-size: 18px;
    }
  }

  ion-alert {
    &.alert-message {
      img {
        width: 48px;
        height: 48px;
      }
    }
    &.success-alert {
      div.image {
        text-align: center;
        margin: 5px 0;

        ion-icon {
          font-size: 48px;
          color: var(--ion-color-success);
        }

        img {
          width: 60px;
          margin: 0 auto 10px;
        }
      }
    }
    &.fail-alert {
      div.image {
        text-align: center;
        ion-icon {
          width: 60px;
          margin: 0 auto 10px;
          font-size: 60px;
          color: var(--ion-color-medium);
        }
      }
    }
  }

  ion-accordion-group {
    box-shadow: var(--ion-box-shadow);

    ion-accordion {
      ion-item {
        ion-label {
          h2 {
            font-weight: 700 !important;
            line-height: var(--FS18);
            font-size: var(--FS16) !important;
          }
          p {
            line-height: var(--FS18);
            font-size: var(--FS14) !important;
          }
        }
      }
    }
  }

  div.tabs {
    margin: 15px;
  }

  ion-segment {
    background: var(--ion-color-white);
    ion-segment-button {
      --ion-background-color: var(--ion-color-primary);
      --indicator-box-shadow: none;
      --border-radius: 9px;
      min-height: 36px;
      font-size: var(--FS14);

      &.segment-button-checked {
        color: #fff;
      }

      ion-label {
        white-space: normal;
        line-height: var(--FS18);
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }

  .empty-state {
    padding: 15px;
    div {
      text-align: center;
      max-width: 290px;
      margin: 0 auto;

      ion-icon {
        width: 90px;
        height: 90px;
        font-size: 90px;
        color: var(--ion-color-medium);
      }
      p {
        color: var(--ion-color-medium);
        margin-top: 5px;
        font-size: var(--FS14);
      }
    }
  }

  .card-list {
    margin: 10px;

    ion-item {
      --padding-start: 15px;
      --padding-top: 15px;
      --padding-bottom: 15px;

      ion-icon.rounded {
        padding: 12px;
        font-size: 32px !important;
        width: 32px !important;
        margin: 0 11px 0 0;
      }

      ion-label {
        margin: 0;

        h2 {
          font-size: var(--FS16) !important;
          font-weight: 400 !important;
          color: var(--ion-color-step-100);
          display: block !important;
          margin-bottom: 6px;
        }
        p {
          font-size: var(--FS14) !important;
          color: var(--ion-color-step-700) !important;
          margin-bottom: 0;
        }

        p + p {
          margin-top: 6px;
        }
      }
    }
  }

  div.searchbar-container {
    display: flex;

    ion-searchbar {
      padding-inline-start: 15px;
      padding-inline-end: 15px;
    }
  }

  .mbsc-font {
    font-family: var(--ion-font-family);
    font-size: var(--FS14) !important;
  }

  p.estado-actividad {
    display: inline-block;
    padding: 8px 11px;
    border: 1px solid;
    margin-top: 5px;
    border-radius: 5px;
    min-width: 70px;
    text-align: center;
    font-size: 12px !important;
    font-weight: 400;

    &.badge {
      margin: 0 5px 0 0;
      min-width: 30px;
    }

    &.success {
      color: var(--ion-color-success) !important;
      border-color: var(--ion-color-success);
      background-color: #eff9f1;
    }

    &.warning {
      color: var(--ion-color-warning) !important;
      border-color: var(--ion-color-warning);
      background-color: #ffeccc;
    }

    &.danger {
      color: var(--ion-color-danger) !important;
      border-color: var(--ion-color-danger);
      background-color: #ffe5e5;
    }

    &.info {
      color: var(--ion-color-primary) !important;
      border-color: var(--ion-color-primary);
      background-color: #e1edfa;
    }

    &.common {
      color: #717FE8 !important;
      border-color: #717FE8;
      background-color: #DCDFF9;
    }
  }

  &.barcode-scanning-active {
    background: transparent;
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
  }

  .barcode-scanning-modal {
    visibility: visible;
    --height: 100%;
    --width: 100%;
  }

  &.paleta-1 {
    --ion-color-primary: #b13274;
    --ion-color-primary-rgb: 177, 50, 116;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #9c2c66;
    --ion-color-primary-tint: #b94782;
  }
  &.paleta-2 {
    --ion-color-primary: #3f0b53;
    --ion-color-primary-rgb: 63, 11, 83;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #370a49;
    --ion-color-primary-tint: #522364;
  }

  &.dark {
    --color: #ffffff;
    --ion-text-color: #ffffff;
    --ion-color-light: #2b2c33;
    --ion-background-color: #161619;
    --ion-color-dark: #ffffff;
    --ion-overlay-background-color: #2b2c33;

    // --ion-color-white: #282a3b;
    // --ion-color-white-rgb: 40, 42, 59;
    // --ion-color-white-contrast: #ffffff;
    // --ion-color-white-contrast-rgb: 255, 255, 255;
    // --ion-color-white-shade: #232534;
    // --ion-color-white-tint: #3e3f4f;

    --ion-color-white: #2b2c33;
    --ion-color-white-rgb: 43, 44, 51;
    --ion-color-white-contrast: #ffffff;
    --ion-color-white-contrast-rgb: 255, 255, 255;
    --ion-color-white-shade: #26272d;
    --ion-color-white-tint: #404147;

    --ion-color-danger: #e06666;
    --ion-color-danger-rgb: 224, 102, 102;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #c55a5a;
    --ion-color-danger-tint: #e37575;

    --ion-color-step-100: #fff;
    --ion-color-step-400: #fff;
    --ion-color-step-700: #fff;
    // --ion-color-step-400: #828599;

    // tabbar
    --ion-tab-bar-background: #2b2c33;
    --ion-tab-bar-border-color: #040b15;
    --ion-tab-bar-color: #828499;
    --ion-tab-bar-color-selected: #ffffff;
    //toolbar
    --ion-toolbar-border-color: #2b2c33;

    --ion-item-background: #2b2c33;
    --ion-border-color: #41424d;
    --ion-box-shadow: 0px 4px 8px 0px rgba(56, 59, 83, 0.15);

    // Listado de colores
    --ion-color-1-background: #3b2b32;
    --ion-color-2-background: #3b332b;
    --ion-color-3-background: #3b2e2b;
    --ion-color-4-background: #3b382b;
    --ion-color-5-background: #383b2b;
    --ion-color-6-background: #2b353b;
    --ion-color-7-background: #2b2d3b;

    ion-list {
      &.list-inset {
        box-shadow: var(--ion-box-shadow);
      }
    }

    ion-segment {
      background: var(--ion-item-background);
    }
  }
}
