@import "../dashboard-docente.page.scss";


ion-card.destacado-list {
    margin: 10px 10px 5px;
    box-shadow: var(--ion-box-shadow) !important;

    ion-card-content {
        padding: 0;

        ion-label h2 {
            font-size: var(--FS14);
            white-space: normal !important;
        }

        ion-icon {
            color: var(--ion-color-medium);
            margin-right: 15px;

            &[name="close"] {
                margin: 0;
                font-size: 24px;
            }
        }
    }
}

.ramos {
    overflow-x: scroll;
    padding: 10px 10px 15px;
    white-space: nowrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    ion-card {
        //ackground-color: var(--bg-color-card2);
        display: inline-block;
        margin: 0 10px 0 0;
        min-width: 190px;
        width: 190px;
        min-height: 145px;
        white-space: normal;
        box-shadow: var(--ion-box-shadow) !important;
        color: var(--ion-text-color);

        &.loading {
            height: 145px;
        }

        ion-list {
            background-color: transparent;
        }

        &.color_1 {
            background: var(--ion-color-1-background);

            ion-label {
                border-left-color: var(--ion-color-1-foreground) !important;
            }
        }
        &.color_2 {
            background: var(--ion-color-2-background);

            ion-label {
                border-left-color: var(--ion-color-2-foreground) !important;
            }
        }
        &.color_3 {
            background: var(--ion-color-3-background);

            ion-label {
                border-left-color: var(--ion-color-3-foreground) !important;
            }
        }
        &.color_4 {
            background: var(--ion-color-4-background);

            ion-label {
                border-left-color: var(--ion-color-4-foreground) !important;
            }
        }
        &.color_5 {
            background: var(--ion-color-5-background);

            ion-label {
                border-left-color: var(--ion-color-5-foreground) !important;
            }
        }
        &.color_6 {
            background: var(--ion-color-6-background);

            ion-label {
                border-left-color: var(--ion-color-6-foreground) !important;
            }
        }
        &.color_7 {
            background: var(--ion-color-7-background);

            ion-label {
                border-left-color: var(--ion-color-7-foreground) !important;
            }
        }

        ion-card-header {
            padding: 8px 8px;
            flex-direction: column;

            ion-card-title {
                font-size: var(--FS12);
                font-weight: 700;
                // color: #fff;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            ion-card-subtitle {
                font-size: var(--FS9);
                text-transform: uppercase;
                font-weight: 300;
                // color: #fff;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-top: 1px;
                margin-bottom: 0;
            }
        }

        ion-card-content {
            padding: 5px 8px;

            ion-list {
                ion-item {
                    --background: var(--bg-color-card2);
                    --min-height: 24px;
                    font-size: var(--FS11);
                    color: var(--bg-contrast-color);

                    ion-label {
                        white-space: normal;
                        margin: 0;
                        border-left: 3px solid;
                        padding-left: 5px;
                        font-size: var(--FS11);

                        .nota-number,
                        .asistencia-number {
                            font-weight: 600;
                        }
                        .text {
                            padding-right: 8px;
                        }
                        .rojo {
                            color: var(--ion-color-danger) !important;
                        }
                    }
                }
            }
        }
    }

    .card:first-child {
        margin-left: 0;
    }
}

.aviso-sede {
    ion-card-header,
    ion-card-content {
        padding: 10px;
    }
    ion-card-header {
        padding-bottom: 4px;
    }
    ion-card-content {
        p {
            font-size: var(--FS14) !important;
        }
        display: flex;
        align-items: center;
    }
}

.horario {
    //border-top: var(--border);

    .section-content {
        margin-inline: 0;
        border-radius: 0;
        //border-bottom: var(--border);
    }

    .dia-selector {
        height: 46px;
        background-color: var(--ion-color-light);
        border-bottom: var(--border);
        display: flex;
        padding: 13px 15px;
        box-sizing: border-box;

        .arrow {
            width: 10%;
            text-align: center;

            ion-icon {
                font-size: 19px;
                height: 19px;
                width: 19px;
            }
        }

        .nombre-dia {
            flex: 1;
            text-align: center;
            font-size: var(--FS14);
            font-weight: bold;

            ion-datetime {
                display: none;
            }
        }
    }

    .clasesList {
        margin: 0;

        .text-center {
            padding: 15px;
            text-align: center;
        }

        ion-item {
            ion-label {
                display: flex;
                margin-top: 4px;
                margin-bottom: 4px;

                .horario-hora {
                    flex: 0 0 35px;
                    font-size: var(--FS12);
                    text-align: right;
                    padding-right: 4px;

                    span {
                        display: block;
                        font-weight: bold;
                    }

                    .inicio {
                        line-height: 20px;
                    }
                }

                .horario-ramo {
                    flex: 1;
                    white-space: normal;
                    margin-left: 9px;
                    padding-left: 10px;
                    border-left: var(--border);
                    position: relative;

                    h3 {
                        font-size: var(--FS14);
                        //line-height: 20px;
                        line-height: 1.4em;
                        font-weight: bold;
                    }

                    p {
                        font-size: var(--FS12);
                        color: var(--ion-color-medium);
                        margin-top: 0;
                        margin-bottom: 2px;
                    }
                    p.estado {
                        color: var(--ion-color-danger);
                        margin: 0;
                        position: absolute;
                        top: -4px;
                        font-style: italic;
                        font-size: var(--FS10);

                        i {
                            background-color: var(--ion-color-danger);
                            height: 6px;
                            width: 6px;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 3px;
                        }
                    }

                    &.green {
                        border-color: var(--ion-color-success);
                    }
                    &.blue {
                        border-color: var(--ion-color-primary);
                    }
                }
                &.ion-text-center {
                    display: block;
                }
            }

            &.suspendida {
                // --background: #fbe4e2;
                ion-label {
                    > div {
                        padding-top: 10px;
                    }
                    .horario-ramo {
                        border-color: var(--ion-color-danger);
                    }
                }
            }
        }
    }
}

mbsc-datepicker {
    ::ng-deep .mbsc-calendar-header {
        &.mbsc-material {
            background-color: var(--ion-day-selector-bgcolor);
        }
        .mbsc-calendar-controls {
            padding: 0 5px;
            min-height: 25px;

            .mbsc-ios.mbsc-button {
                color: var(--ion-color-primary);
            }

            .mbsc-material.mbsc-button {
                font-size: 10px;
            }
        }
    }
}

// section.cerrar-sesion {
//     width: 100%;
//     margin: 0;
//     background-color: var(--ion-color-white);
//     margin-bottom: 20px;

//     ion-button {
//         border-top: var(--border);
//         border-bottom: var(--border);
//         font-weight: 500;
//         font-size: var(--FS18);
//         margin: 0;
//     }
// }

ion-modal.modal-calendario {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
    --background: transparent;
}

ion-modal.modal-calendario ion-datetime {
    height: 382px;
}

ion-datetime {
    --background: #fff;

    :host ::ng-deep .calendar-day {
        font-size: 18px;
    }
}

:host .calendar-day {
    font-size: 18px;
}

p.version,
p.last-update {
    // margin: 0 0 15px;
    text-align: center;
    color: var(--ion-color-medium);
    font-size: 12px;
    font-weight: bold;
}
p.last-update {
    margin: 10px 0 0;;
}

mbsc-eventcalendar {
    ::ng-deep .mbsc-calendar-header {
        //display: none;
        background: var(--bg-color-card2);

        .mbsc-calendar-controls {
            padding: 0 5px;
            min-height: 25px;

            .mbsc-ios.mbsc-button {
                color: var(--ion-color-primary);
            }

            .mbsc-material.mbsc-button {
                font-size: 10px;
            }
        }
    }
    ::ng-deep .mbsc-calendar-body {
        .mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
            background: var(--ion-color-primary);
            border-color: var(--ion-color-primary);
        }
    }
    ::ng-deep .mbsc-event-list-empty {
        margin: 15px;
        font-size: var(--FS14);
    }
    ::ng-deep .mbsc-schedule-event {
        color: var(--ion-color-primary) !important;

        .progreso {
            color: var(--ion-color-success) !important;
        }

        .suspendida {
            color: var(--ion-color-danger) !important;
        }
    }
    // ::ng-deep .mbsc-ios-dark.mbsc-schedule-event {
    //     color: var(--ion-color-primary) !important;
    // }
    ::ng-deep .mbsc-material.mbsc-colored-event.mbsc-list-item {
        background-color: var(--ion-color-primary) !important;
        // color: var(--ion-color-step-950) !important;

        .progreso {
            background-color: var(--ion-color-success) !important;
        }

        .suspendida {
            background-color: var(--ion-color-danger) !important;
        }
    }
    ::ng-deep .mbsc-material.mbsc-selected .mbsc-calendar-cell-text {
        background-color: var(--ion-color-primary) !important;
        border-color: var(--ion-color-primary) !important;
    }

    ::ng-deep .mbsc-ios-dark.mbsc-selected .mbsc-calendar-cell-text,
    ::ng-deep .mbsc-material.mbsc-selected .mbsc-calendar-cell-text {
        background-color: var(--ion-color-primary) !important;
        border-color: var(--ion-color-primary) !important;
        // color: var(--ion-text-color) !important;
        color: var(--ion-color-primary-contrast) !important;
    }

    ::ng-deep .mbsc-ios.mbsc-event-color {
        background-color: var(--ion-color-primary) !important;
    }

    ::ng-deep .mbsc-ios.mbsc-event.mbsc-list-item {
        .mbsc-ios.mbsc-event-color {
            background: var(--ion-color-primary) !important;
        }
        &.suspendida {
            .mbsc-ios.mbsc-event-color {
                background: var(--ion-color-danger) !important;
            }
        }
        &.progreso {
            .mbsc-ios.mbsc-event-color {
                background: var(--ion-color-success) !important;
            }
        }
        &.realizada {
            .mbsc-ios.mbsc-event-color {
                background: var(--ion-color-medium) !important;
            }
            .mbsc-ios.mbsc-event-text {
                color: var(--ion-color-medium);
            }
        }
    }
    ::ng-deep .mbsc-material.mbsc-colored-event.mbsc-list-item {
        background: var(--ion-color-primary) !important;

        &.suspendida {
            background: var(--ion-color-danger) !important;
        }
        &.progreso {
            background: var(--ion-color-success) !important;
        }
        &.realizada {
            background: var(--ion-color-medium) !important;
        }
    }
}

::ng-deep body.dark {
    .mbsc-material.mbsc-colored-event.mbsc-list-item {
        color: var(--ion-color-step-950) !important;
    }

    .mbsc-material.mbsc-schedule-event-inner {
        color: var(--ion-color-step-900) !important;
    }
}

ion-modal.estacionamiento-modal {
    ion-content {
        // --background: var(--bg-color-card2);

        .titulo {
            div {
                display: flex;
                align-items: center;
                padding: 15px;

                ion-icon {
                    margin-right: 10px;
                }
            }
        }

        .grafico {
            text-align: center;
        }

        .indicadores {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                display: flex;
                align-items: center;
                font-size: 16px;

                .circulo {
                    height: 8px;
                    width: 8px;
                    background-color: #DCDFFC;
                    border-radius: 50%;
                    padding: 0px;
                    margin: 0px 8px 0 0;

                    &.selected {
                        background-color: var(--ion-color-primary);
                    }
                }
            }
        }
    }
}

section.cerrar-sesion {
    margin: 10px;

    ion-button {
        --box-shadow: 0px 4px 8px 0px rgba(56, 59, 83, 0.15); //var(--ion-box-shadow);
        --ion-color-contrast: var(--ion-color-danger);
        --ion-color-base: var(--ion-item-background);
        font-size: 16px;
        font-weight: 500;
    }
}

section.accesos-directos {
    margin-inline: 3px;

    ion-row {
        ion-col {
            ion-button {
                --background-focused: transparent;
                width: 100%;
                height: 112px;
                --border-radius: 8px;
                --padding-bottom: 11px;
                --padding-end: 11px;
                --padding-start: 11px;
                --padding-top: 11px;
                --box-shadow: none;
                margin-top: 0;
                margin-bottom: 0;

                .btn-inner {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    text-align: left;
                    position: relative;
                    justify-content: space-between;
                    text-transform: none;

                    .rounded {
                        padding: 10px;
                        margin: 0 0 10px;
                        flex: 0 0 24px;
                    }

                    .launch {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 18px;
                    }

                    ion-label {
                        color: var(--ion-text-color);
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h1 {
                            font-size: 24px;
                            font-weight: 700;
                            margin: 0;
                        }
                        h2 {
                            font-size: 16px;
                            font-weight: 700;
                        }
                        p {
                            font-size: 14px;
                        }
                        i {
                            font-size: 12px;
                            font-style: normal;
                            line-height: 14px;
                            padding: 7px 3px;
                            background: #1d78bf;
                            color: #fff;
                            border-radius: 50%;
                            width: 27px;
                            height: 27px;
                            text-align: center;
                        }
                    }

                    ion-progress-bar {
                        --background: #fff;
                        height: 8px;
                    }
                }

                &.color-1,
                &.color-8,
                &.color-15 {
                    --background: var(--ion-color-1-background);
                    --background-activated: var(--ion-color-1-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-1-primary);
                        }
                        &.launch {
                            color: var(--ion-color-1-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-1-foreground);
                    }
                }
                &.color-2,
                &.color-9,
                &.color-16 {
                    --background: var(--ion-color-2-background);
                    --background-activated: var(--ion-color-2-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-2-primary);
                        }
                        &.launch {
                            color: var(--ion-color-2-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-2-foreground);
                    }
                }
                &.color-3,
                &.color-10 {
                    --background: var(--ion-color-3-background);
                    --background-activated: var(--ion-color-3-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-3-primary);
                        }
                        &.launch {
                            color: var(--ion-color-3-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-3-foreground);
                    }
                }
                &.color-4,
                &.color-11 {
                    --background: var(--ion-color-4-background);
                    --background-activated: var(--ion-color-4-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-4-primary);
                        }
                        &.launch {
                            color: var(--ion-color-4-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-4-foreground);
                    }
                }
                &.color-5,
                &.color-12 {
                    --background: var(--ion-color-5-background);
                    --background-activated: var(--ion-color-5-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-5-primary);
                        }
                        &.launch {
                            color: var(--ion-color-5-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-5-foreground);
                    }
                }
                &.color-6,
                &.color-13 {
                    --background: var(--ion-color-6-background);
                    --background-activated: var(--ion-color-6-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-6-primary);
                        }
                        &.launch {
                            color: var(--ion-color-6-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-6-foreground);
                    }
                }
                &.color-7,
                &.color-14 {
                    --background: var(--ion-color-7-background);
                    --background-activated: var(--ion-color-7-background);

                    ion-icon {
                        &.rounded {
                            background-color: var(--ion-color-7-primary);
                        }
                        &.launch {
                            color: var(--ion-color-7-foreground);
                        }
                    }

                    ion-progress-bar {
                        --progress-background: var(--ion-color-7-foreground);
                    }
                }
            }
        }
    }
}