<ion-header>
  <ion-toolbar>
    <ion-title>Configuraciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset="true" class="card-list">
    <ion-item detail="false">
      <ion-icon slot="start" src="assets/icon/settings.svg" class="rounded variant-1"></ion-icon>
      <ion-label>
        <h2>Configuraciones</h2>
        <p>Modifica el aspecto visual de la aplicación.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <section>
    <div class="section-header">Accesibilidad</div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-icon slot="start" src="assets/icon/text_increase.svg"></ion-icon>
          <ion-toggle [(ngModel)]="fontSizeMode" (ngModelChange)="toggleFontSizeSize()" color="success">
            Tamaño Letra
          </ion-toggle>
        </ion-item>
        <ion-item *ngIf="fontSizeMode">
          <ion-icon slot="start" src="assets/icon/text_decrease.svg"></ion-icon>
          <ion-range [(ngModel)]="fontSizeRange" (ngModelChange)="toggleFontSizeRange()" color="medium" [ticks]="true"
            [snaps]="true" [min]="0" [max]="4"></ion-range>
          <ion-icon slot="end" src="assets/icon/text_increase.svg"></ion-icon>
        </ion-item>
        <!-- <ion-item [disabled]="darkMode">
          <ion-icon slot="start" src="assets/icon/contrast.svg"></ion-icon>
          <ion-toggle [(ngModel)]="contrastMode" (ngModelChange)="toggleContrastMode()" color="success">
            Aumentar Contraste
          </ion-toggle>
        </ion-item> -->
        <ion-item *ngIf="mostrarFaceID">
          <ion-toggle [(ngModel)]="privacyMode" (ngModelChange)="togglePrivacy()" color="success">
            <h2>Face ID</h2>
            <p>Requerir Face ID para desbloquear</p>
          </ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </section>

  <section>
    <div class="section-header">Apariencia</div>
    <div class="section-content">
      <ion-list>
        <ion-item *ngIf="!darkModeAutomatic">
          <ion-toggle [(ngModel)]="darkMode" (ngModelChange)="toggleDarkMode()" color="success">Modo oscuro</ion-toggle>
        </ion-item>
        <ion-item class="modo-oscuro" *ngIf="darkModeAutomatic" detail="true" (click)="changeDarkMode()">
          <ion-label>Aspecto</ion-label>
          <ion-note slot="end">{{darkModeText}}</ion-note>
        </ion-item>
      </ion-list>
    </div>
  </section>

  <section *ngIf="mostrarIcono">
    <div class="section-header">Icono de la Aplicación</div>
    <div class="section-content">
      <ion-list>
        <ion-item (click)="cambiarIcono('claro')" class="ion-activatable">
          <ion-thumbnail slot="start">
            <img src="assets/images/app-light.png" />
          </ion-thumbnail>
          <ion-label>Claro</ion-label>
          <ion-icon slot="end" name="checkmark-outline" *ngIf="icono == 'claro'"></ion-icon>
        </ion-item>
        <ion-item (click)="cambiarIcono('oscuro')" class="ion-activatable">
          <ion-thumbnail slot="start">
            <img src="assets/images/app-dark.png" />
          </ion-thumbnail>
          <ion-label>Oscuro</ion-label>
          <ion-icon slot="end" name="checkmark-outline" *ngIf="icono == 'oscuro'"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </section>

  <section>
    <div class="section-header">Colores</div>
    <div class="section-content">
      <ion-list>
        <ion-radio-group [(ngModel)]="color" (ionChange)="colorChanged($event)">
          @for (item of colores; track $index) {
          <ion-item>
            <ion-icon slot="start" src="assets/icon/palette.svg"></ion-icon>
            <ion-radio [value]="item">
              Paleta {{$index + 1}} -- {{item}}
            </ion-radio>
          </ion-item>
          }
        </ion-radio-group>
      </ion-list>
    </div>
  </section>

  <section *ngIf="mostrarNotificaciones && programa">
    <div class="section-header">Notificaciones</div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-toggle [(ngModel)]="notificacionCorreo" (ngModelChange)="toggleNotificaciones(0)" color="success">
            INACAPMail
          </ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle [(ngModel)]="notificacionSede" (ngModelChange)="toggleNotificaciones(1)" color="success">
            Sede - {{programa.sedeTdesc}}
          </ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </section>

  <section *ngIf="mostrarCalendario">
    <div class="section-header">Calendario</div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Sincronizar Calendario</h2>
            <p>Sincronizar calendario con el celular</p>
          </ion-label>
          <ion-toggle slot="end" color="success"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </section>

  <ion-button color="primary" shape="round" expand="full" style="margin-inline: 15px;">test</ion-button>

</ion-content>