<!-- <mbsc-eventcalendar [theme]="theme" [themeVariant]="themeVariant" [(selectedDate)]="fecha" [data]="eventos"
  [view]="myView" [locale]="pickerLocale" (onPageChange)="onSelectedDateChange($event)"
  (onEventClick)="onEventClick($event)" [agendaEmptyTemplate]="horarioEmptyTpl">
  <ng-template #horarioEmptyTpl>
    <div class="mbsc-align-center mbsc-padding">
      <div class="loaderInacap" *ngIf="cargando">
        <ion-spinner name="lines" color="primary"></ion-spinner>
      </div>
      <span *ngIf="cargando == false && eventos">Sin Clases</span>
      <span *ngIf="cargando == false && !eventos">
        <section class="empty-state">
          <div>
            <ion-icon src="assets/icon/info.svg"></ion-icon>
            <p>Información no disponible en este momento.</p>
            <ion-button color="primary" shape="round" (click)="cargar()">Recargar</ion-button>
          </div>
        </section>
      </span>
    </div>
  </ng-template>
</mbsc-eventcalendar>

<section class="classic schedule portrait virtuales"
  *ngIf="asignaturasVirtuales && asignaturasVirtuales.length && planificacion">
  <div class="section-content">
    <article>
      <div class="schedule-header">
        <h2>Asignaturas Virtuales</h2>
      </div>
      <div class="schedule-item-list">
        <div class="schedule-item" *ngFor="let item of asignaturasVirtuales">
          <b>{{item.asigTdesc}}</b> {{item.asigHoras}}
        </div>
      </div>
    </article>
  </div>
</section> -->

<mbsc-eventcalendar [theme]="theme" [themeVariant]="themeVariant" [(selectedDate)]="fecha" [data]="eventos"
  [view]="myView" (onEventClick)="onEventClick($event)" (onPageChange)="onSelectedDateChange($event)"
  [locale]="pickerLocale" [agendaEmptyTemplate]="horarioEmptyTpl" [eventTemplate]="eventTemplate">
  <ng-template #eventTemplate let-data>
    <ion-item lines="none" *ngIf="data.original.data as item">
      <div slot="start" [class]="resolverIconoAgenda(item, 1)">
        <ion-icon src="assets/icon/{{resolverIconoAgenda(item, 0)}}.svg"></ion-icon>
        <h2>{{item.horaHinicio}} - {{item.horaHtermino}}</h2>
        <p>{{resolverDuracion(item)}}</p>
      </div>
      <ion-label>
        @if (item.bloqNestado == 1) {
        <p class="danger estado-actividad">Clase Suspendida</p>
        }
        @if (item.bloqNestado == 2 || item.bloqNestado == 4) {
        <p class="success estado-actividad">Clase en Progreso</p>
        }
        @if (item.bloqNestado == 3) {
        <p class="info estado-actividad">Clase Realizada</p>
        }
        <h2>{{resolverTipoAgenda(item)}}</h2>
        <p class="desc">Docente: {{item.persTnombre}}</p>
        <p class="desc">Sala: {{item['salaEjecucion'] || item['salaProgramada']}}</p>
      </ion-label>
    </ion-item>
  </ng-template>
  <ng-template #horarioEmptyTpl>
    <div class="mbsc-align-center mbsc-padding">
      <ion-spinner name="lines" color="primary" *ngIf="cargando"></ion-spinner>
      <span *ngIf="!cargando && eventos">Sin Clases</span>
      <span *ngIf="!cargando && !eventos">Información no disponible</span>
    </div>
  </ng-template>
</mbsc-eventcalendar>

@if (asignaturasVirtuales?.length && !cargando) {
<section class="classic schedule portrait virtuales">
  <div class="section-content">
    <article>
      <div class="schedule-header">
        <h2>Asignaturas Virtuales</h2>
      </div>
      <div class="schedule-item-list">
        @for (item of asignaturasVirtuales; track $index) {
        <div class="schedule-item">
          <b>{{item.asigTdesc}}</b> {{item.asigHoras}}
        </div>
        }
      </div>
    </article>
  </div>
</section>
}