ion-card-content {
    font-size: var(--FS13) !important;
    line-height: 16px;

    .glosa {
        border-top: var(--border);
        padding-top: 15px;
        // text-align: justify;

        ::ng-deep ol {
            padding: 0 0 0 25px;
        }

        ::ng-deep ul {
            padding: 0 0 0 25px;
        }

        ::ng-deep a.more {
            display: block;
            margin-top: 10px;
            text-align: center;
        }
    }
}

ion-content {
    ion-item {
        ion-label + ion-select {
            max-width: 70%;
        }
        ion-checkbox {
            font-size: var(--FS14) !important;
        }
    }
    
    ion-accordion-group {
        margin-top: 0;
        
        ion-accordion {
            ion-item {
                font-size: var(--FS14) !important;
            }   
        }
    }
}

ion-modal {
    .detalle-solicitud {
        padding: 20px;
        ::ng-deep > div {
            table {
                width: 100%;
                font-size: 14px;
                // text-align: justify;

                p {
                    margin: 0 0 10px 0;
                }

                // br + br {
                //     display: none;
                // }
            }
        }

        div.image {
            text-align: center;

            img {
                width: 80px;
                margin: 0 auto 10px;
            }
        }
    }
}

::ng-deep ion-action-sheet.solicitud-alert {
    .action-sheet-title {
        font-size: 16px;

        .action-sheet-sub-title {
            font-size: 14px;
        }
    }
}

::ng-deep body.dark {
    ion-accordion {
        ion-badge {
            --ion-color-base: #666 !important;
        }
    }
}